{"openapi":"3.0.0","info":{"title":"Authing 管理 API","description":"\n\n[Authing](https://authing.co/) 是一款国内领先的、基于云原生架构的 IDaaS 产品，兼容 OAuth 2.0, OIDC, SAML, AD/LDAP, WS-Fed 等所有主流认证 / 授权协议，可以帮助你快速实现任何 Web、App 和企业软件的身份认证和用户管理，为你的客户和员工提供安全且完善的登录解决方案。\n\n<img src=\"https://files.authing.co/api-explorer/what-is-authing.jpg\" alt=\"drawing\"/>  \n","version":"3.0","contact":{},"x-logo":{"url":"https://files.authing.co/authing-logo.png","href":"https://authing.co","altText":"Authing Website"},"x-servers":[{"url":"https://api.authing.cn","description":"你的应用域名"}],"x-meta":{"title":"Authing 管理 API（V3）","description":"Authing 是一款国内领先的、基于云原生架构的 IDaaS 产品，兼容 OAuth 2.0、OIDC、SAML、AD/LDAP、WS-Fed 等所有主流认证 / 授权协议，可以帮助你快速实现任何 Web、App 和企业软件的身份认证和用户管理，为你的客户和员工提供安全且完善的登录解决方案。","keywords":"Documentation, Authing, IDaaS, OIDC, OAuth, 微信, 社会化登录","image":"https://authing.co/favicon.ico"}},"tags":[{"name":"开发准备/基本概念","description":"此文档为 Authing 管理 API 文档，适用版本为 Authing 管理 API（V3）。Authing 管理 API 指的是以管理员（Administrator）的身份进行请求，用于管理用户池资源和执行管理任务，如管理用户、组织机构、角色、应用、权限、用户池配置等。一般来说，你在 [Authing 控制台](https://console.authing.cn/)中能做的所有操作，都能用此模块完成。\n\n在你正式进入开发前，需要先了解一下 Authing 几个最核心的概念。\n\n## 用户池\n\n**用户池**是 Authing 租户与租户之间的隔离单位，你拥有的所有用户数据、应用、资源等，都在一个**用户池**下。如果你还没有注册 Authing 账号，或者还未创建**用户池**，请先前往 [https://authing.co/](https://authing.co/) 创建你的第一个**用户池**。当你需要调用此部分的 API 时，你会需要用到**用户池 ID**和**用户池密钥**，在下面的**鉴权机制**中会讲到如何使用。\n\n<details>\n<summary>点此展开如何获取用户池 ID 和用户池密钥</summary>\n\n在 [Authing 控制台](https://console.authing.cn)的**设置** -> **基础设置** -> **密钥管理**页面，可以获取到用户池 ID（UserPool Id）和用户池密钥（UserPool Secret），如下图所示：\n\n![](https://files.authing.co/authing-docs-v2/20220328-182903.png)\n\n</details>\n\n## 应用\n\nAuthing 中的**应用**对应了你实际开发的应用，比如当你要基于 Authing 开发一个商城 APP 的时候，你在 Authing 的用户池中也会[创建一个对应的应用](https://docs.authing.cn/v2/guides/app-new/create-app/create-app.html)。\n","x-displayName":"基本概念"},{"name":"开发准备/HTTP 请求","description":"## API 端点\n\nAuthing 管理 API（V3） Root 端点为：[https://api.authing.cn](#)。\n\n所有接口均通过 HTTPS 加密传输，如非特殊标记，请求参数和返回数据均通过 `application.json` 格式传递。\n\n> 如果是私有化部署的 Authing 服务，API 端点信息请联系你的客户经理获取。\n\n## HTTP 请求动词\n\nAuthing 管理 API（V3） 目前使用到了两种 HTTP 动词：\n\n| HTTP 请求动词 | 描述                       |\n| ------------- | -------------------------- |\n| GET           | 用于获取资源。             |\n| POST          | 用于创建、修改、删除资源。 |\n\n## HTTP 路径\n\nAuthing 管理 API（V3） 接口一般遵循 `/api/v3/verb` 的接口命名规范，`verb` 如果包含多个单词，使用 `-` 隔开，如：\n\n- 获取用户列表：`/api/v3/list-users`\n- 执行同步任务：`/api/v3/trigger-sync-task`\n\n## HTTP 请求头\n\n**调用 Authing 管理 API（V3） 时必须携带以下请求头**：\n\n<!-- | 请求头                      | 是否必填 | 含义 ​                                                                                                                                                                 |\n| --------------------------- | -------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| content-type                | 是       | 如接口未特殊说明，请填 `application/json`                                                                                                                              |\n| date                        | 是       | 客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)。 |\n| x-authing-signature-nonce   | 是       | 签名随机字符串，详情见[鉴权机制](#鉴权机制)。                                                                                                                          |\n| x-authing-signature-method  | 是       | 签名方式，目前仅支持 `HMAC-SHA1`，详情见[鉴权机制](#鉴权机制)。                                                                                                        |\n| x-authing-signature-version | 是       | 签名方式，目前为 `1.0`，详情见[鉴权机制](#鉴权机制)。                                                                                                                  |\n| authorization               | 是       | 使用 `Access Key ID` 和 `Access Key Secret` 对请求上下文的签名，详情见[鉴权机制](#鉴权机制)。                                                                          | -->\n\n| 请求头           | 是否必填 | 含义 ​                                                                                        |\n| ---------------- | -------- | --------------------------------------------------------------------------------------------- |\n| x-authing-userpool-id | 是       | Authing 用户池 ID                                                                             |\n| authorization    | 是       | 使用 `Access Key ID` 和 `Access Key Secret` 对请求上下文的签名，详情见[鉴权机制](#tag/开发准备/鉴权机制)。 |\n\n## HTTP 重定向\n\n在某些情况下，Authing 管理 API（V3） 接口会返回一个 **HTTP 重定向** 的响应，重定向的内容将会放在 **Response Header** 的 `Location` 字段上。\n\n## 分页请求\n\n默认情况下，分页接口默认一页会返回 10 个元素，并且如果无特殊说明，每页最大值为 50 个，你可以通过 `page` 和 `limit` 参数指定对应的页码和每页包含的元素个数。示例：\n\n```bash\ncurl 'https://<YOUR_DOMAIN>.authing.cn/api/v3/list-users?page=2&limit=50'\n```\n\n## HTTP 响应结构\n\n如非接口特殊声明，Authing 管理 API（V3） 的响应体格式如下：\n\n```json\n{\n  \"statusCode\": <STATUS_CODE>,\n  \"apiCode\": <API_CODE>, // 详细错误类型，当请求失败时会返回\n  \"message\": <ERROR_MESSAGE>, // 错误描述信息\n  \"requestId\": <REQUEST_ID>, // 错误请求 ID，当请求失败时会返回\n  \"data\": <RESPONSE_DATA>, // 具体响应数据\n}\n```\n\n`statusCode` 和 `apiCode` 的具体描述和错误处理方式见[错误处理](#tag/开发准备/错误处理)。\n","x-displayName":"HTTP 请求"},{"name":"开发准备/鉴权机制","description":"<!-- Authing 管理 API（V3） 使用的是 AK/SK 本地对请求数据的摘要进行签名的鉴权机制，客户端在调用 API 时，需要使用 SK 对请求数据的摘要进行签名计算，并将签名结果传输给服务器端进行签名验证。\n\n## 为什么使用 AK/SK 签名的方式\n\nAuthing 管理 API（V3） 使用 AK/SK 本地签名的鉴权机制，主要从以下几点安全性进行考虑：\n\n1. 验证客户端的合法性\n2. 防止请求数据在网络传输过程中被篡改\n3. 在请求数据中加入时间戳元素，防止[重放攻击](https://zh.wikipedia.org/wiki/%E9%87%8D%E6%94%BE%E6%94%BB%E5%87%BB)\n\n## 如何查看我的 AK/SK\n\n在 Authing 中，目前有两种类型的 AK/SK：\n\n- 用户池全局 AK/SK：具备用户池内所有资源的全局操作权限。你可以在 [Authing 控制台](https://console.authing.cn) 的**设置** - **基础设置** - **密钥管理** 获取到**用户池 ID** 和**用户池密钥**，其中**用户池 ID**为 AK（Access Key ID）,**用户池密钥**为 SK（Access Key Secret）。\n- 协作管理员 AK/SK：可针对用户池内的资源进行细粒度授权，协作管理员的 AK/SK 只能调用其被授权的 API。\n\n## 摘要签名机制原理说明\n\n拿到了你的 AK/SK 之后，下面我们来看如何使用 AK/SK 对一次 API 请求进行签名。\n\n### 将请求数据生成摘要\n\n假设在不考虑任何签名机制的情况下，我们有一个原始的获取用户列表的请求，如下所示：\n\n```\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json' \\\n  --header 'some-other-header: some-random-value' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\nHTTP 请求数据如下：\n\n- 请求方式：`POST`；\n- 请求 API URL：`/api/v3/list-users`，不带域名和 Query 参数；\n- 请求头：携带了两个请求头 `content-type: application/json;charset=utf-8` 和 `some-other-header: some-random-value`；\n- 请求体：在请求体中传递了一个对象。\n\n在此基础上添加上 Authing API 签名要求的必要**请求头**：\n\n- `date` 请求头：客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)；\n- `x-authing-signature-nonce`: 签名随机字符串；\n- `x-authing-signature-method`: 签名算法，目前仅支持 `HMAC-SHA1`；\n- `x-authing-signature-version`: 签名算法版本，目前为 `1.0`。\n\n```text{1-10}\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json;charset=utf-8' \\\n  --header 'some-other-header: some-random-value' \\\n  --header 'date: Sun, 09 Oct 2022 06:14:00 GMT'' \\\n  --header 'x-authing-signature-nonce: f02a938cdbcf1b1f10bf14887eda6659' \\\n  --header 'x-authing-signature-method: HMAC-SHA1' \\\n  --header 'x-authing-signature-version: 1.0' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\n在此之后，我们将上述的请求数据转换成下面这种格式的字符串：\n\n```\nHTTP-Verb\nContent-Type\nDate\nCanonicalizedAuthingHeaders\nCanonicalizedResource\n```\n\n其中每一项的释义如下：\n\n- `HTTP-Verb`: HTTP 请求动词，在这个例子里，为 `POST`；\n- `Content-Type`: HTTP 请求数据格式，在这个例子里，为 `application/json;charset=utf-8`\n- `Date`: 客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)；在这个例子里，为 `Sun, 09 Oct 2022 06:14:00 GMT`；\n- `CanonicalizedAuthingHeaders`: 经过规范化处理的 Authing 相关请求头，下面会介绍如何拼接；\n- `CanonicalizedResource`: 经过规范化处理的 API 资源，下面会介绍如何拼接；\n\n于是我们得到：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nCanonicalizedAuthingHeaders\nCanonicalizedResource\n```\n\n下面我们再分别介绍 CanonicalizedAuthingHeaders 和 CanonicalizedResource 的构建过程。\n\n#### 构建 CanonicalizedAuthingHeaders 参数\n\nCanonicalizedAuthingHeaders 的构建过程如下：\n\n1. 只需包含以 `x-authing-` 开头的请求头。\n2. 需要将每个 HTTP 标头名称转换为小写。例如，将 `X-Authing-Signature-Method` 转换为 `x-authing-signature-method`。\n3. 需要根据请求头名称按**字典顺序**进行排序。例如，`x-authing-signature-method` 应该在 `x-authing-signature-nonce` 之前。\n4. 每个请求头按照 `key=value` 的格式进行拼接，`key` 和 `value` 之间不应该包含空格。\n5. 不同的请求头之间通过换行符号（`\\n`）分隔。\n\n于是得到如下结果：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nx-authing-signature-method:HMAC-SHA1\nx-authing-signature-nonce:11223344\nx-authing-signature-version:1.0\nCanonicalizedResource\n```\n\n#### 构建 CanonicalizedResource 参数\n\nCanonicalizedResource 的构建过程如下：\n\n1. 不管是 `GET` 请求还是 `POST` 请求，格式需遵循 `<API_URL>?<API_DATA>`，中间使用 `?` 分隔。\n2. `<API_URL>` 部分不应该包含域名和 Query 和 Query 参数。例如：`https://api.authing.cn/api/v3/list-users?a=b` 这个请求，只保留 `/api/v3/list-users` 部分。\n3. `<API_DATA>` 部分规则如下：\n\n- 如果是 `GET` 请求，使用 Query 中的查询参数作为 `<API_DATA>` 需要的数据；\n- 如果是 `POST` 请求，使用 Body 中的请求体作为 `<API_DATA>` 需要的数据。\n\n遍历`<API_DATA>` 需要的数据的每一个 key，将此 key 和这个 key 对应的 value 按照 `key=value` 的方式进行拼接（如果 value 为字符串、数字、布尔值等原始值，无需做额外处理；如果 value 是一个对象，需要先转换成 JSON 字符串再[编吗为 URL 格式](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI)）。不同的 key/value 对之间使用 `&` 符号进行连接。\n\n于是我们再得到如下结果：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nx-authing-signature-method:HMAC-SHA1\nx-authing-signature-nonce:11223344\nx-authing-signature-version:1.0\n/api/v3/list-users?options=%7B%22pagination%22:%7B%22page%22:1,%22limit%22:10%7D%7D\n```\n\n下文中我们会将这个最终得到的字符串叫做 `stringToSign`。\n\n### 将生成的摘要使用 SK 计算签名\n\nAuthing API 的签名鉴权机制使用 `HMAC-SHA1` 算法，并生成 `base64` 格式的摘要。\n\n以 `Node.js` 代码为例：\n\n```js\nexport function buildSignature(accessKeySecret: string, stringToSign: string) {\n  return crypto\n    .createHmac('sha1', accessKeySecret)\n    .update(Buffer.from(stringToSign, 'utf8'))\n    .digest('base64');\n}\n```\n\n于是我们再得到类似下面的结果：\n\n```\nPFboTzV5F7WjU4yKCFmcRDTZ6tk=\n```\n\n### 根据 AK/SK + 签名构建 Authorization 请求头\n\n得到了签名之后，我们按照如下格式拼接 `Authorization` 请求头的内容：\n\n```\nauthing <accessKeyId>:<signature>\n```\n\n于是我们得到最终的结果：\n\n```\nauthing 62eaa95ffxxxxee52ae6b90c:PFboTzV5F7WjU4yKCFmcRDTZ6tk=\n```\n\n我们需要将其放到 `Authorization` 中并传输给 Authing 服务器。\n\n### 发出最终请求\n\n```text{1-10}\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json;charset=utf-8' \\\n  --header 'some-other-header: some-random-value' \\\n  --header 'date: Sun, 09 Oct 2022 06:14:00 GMT'' \\\n  --header 'x-authing-signature-nonce: f02a938cdbcf1b1f10bf14887eda6659' \\\n  --header 'x-authing-signature-method: HMAC-SHA1' \\\n  --header 'x-authing-signature-version: 1.0' \\\n  --header 'authorization: authing 62eaa95ffxxxxee52ae6b90c:PFboTzV5F7WjU4yKCFmcRDTZ6tk=' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\n## 摘要算法示例代码\n\n你可以在此查看不同语言的摘要示例代码。\n\n## 使用 SDK 请求 API\n\n我们为开发中提供了不同语言的 SDK，SDK 内置了相关签名逻辑，使得你需要过多考虑这些 -->\n\nAuthing 管理 API（V3） 通过 AK/SK 获取 `access_token` 的方式对接口进行鉴权，获取到 `access_token` 之后，你需要将其设置到 HTTP 的 `authorization` 请求头中，如下所示：\n\n```bash\ncurl -XPOST 'https://api.authing.cn/api/v3/list-users' \\\n  -H 'authorization: <替换成真实的 access_token>' \\\n  -H 'x-authing-userpool-id: <替换成真实的用户池 ID>'\n```\n\n详情请见[获取 access_token](#tag/鉴权机制/获取%20Access%20Token)。\n","x-displayName":"鉴权机制"},{"name":"开发准备/密码安全传输","description":"## HTTPS 加密传输\n\nAuthing 所有 API 均通过 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 `RSA256` 和[国密 SM2](https://baike.baidu.com/item/SM2/15081831) 两种方式对密码进行加密。\n\n## RSA256\n\nAuthing 支持使用 RSA256 非对称加密方式对密码进行安全传输，你需要使用 Authing 的 RSA 公钥对密码进行加密，发送到 Authing 服务器后端之后，Authing 服务器会使用私钥进行解密。\n\nAuthing 的 RSA 公钥如下，你也可以通过此[端点](#tag/公开信息端点/API%20列表/operation/PublicAPIV3Controller_getSystemInfo)拉取：\n\n```\n-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4xKeUgQ+Aoz7TLfAfs9+paePb\n5KIofVthEopwrXFkp8OCeocaTHt9ICjTT2QeJh6cZaDaArfZ873GPUn00eOIZ7Ae\n+TiA2BKHbCvloW3w5Lnqm70iSsUi5Fmu9/2+68GZRH9L7Mlh8cFksCicW2Y2W2uM\nGKl64GDcIq3au+aqJQIDAQAB\n-----END PUBLIC KEY-----\n\n```\n\n你可以参考[此 Demo](https://github.com/Authing/password-encryption)，其包含了使用 RSA256 加密密码的示例。\n\n如果你只是简单调试，可以使用[此在线调试工具](http://www.metools.info/code/c81.html)使用上面的公钥对密码进行加密。\n\n## 国密 SM2\n\nAuthing 支持使用国密 SM2 加密方式对密码进行安全传输，你需要使用 Authing 的 SM2 公钥对密码进行加密，发送到 Authing 服务器后端之后，Authing 服务器会使用私钥进行解密。\n\nAuthing 的 SM2 公钥如下，你也可以通过此[端点](#tag/公开信息端点/API%20列表/operation/PublicAPIV3Controller_getSystemInfo)拉取：\n\n```\n042bc07187cc3bdcfe63b37902eead6dc400734d386e8e2be05d26159bce3259ae602c608052204079e5f49c12ef3296df8ceeff6314b45e2cf110dd58e96a47e4\n```\n\n你可以参考[此 Demo](https://github.com/Authing/password-encryption)，其包含了使用 SM2 加密密码的示例。\n\n如果你只是简单调试，可以使用[此在线调试工具](http://www.lzltool.com/SM2)使用上面的公钥对密码进行加密。\n","x-displayName":"密码安全传输"},{"name":"开发准备/接口限流","description":"针对免费账户，Authing 默认的接口限流频率为 300 QPS / 用户池。如果触发了我们的 QPS 限制，你将收到以下错误提示：HTTP code 为 `429`，响应体为：\n\n```json\n{\n  \"statusCode\": 429,\n  \"message\": \"您的请求已超过最大数量限制，请稍后重试\"\n}\n```\n\n> 如果你触发了接口限流阈值，请升级套餐并联系 Authing 客服申请更大的 QPS 限制。\n","x-displayName":"接口限流"},{"name":"开发准备/服务器 IP","description":"当你进行配置自定义数据库、接收 Webhook 通知等操作时，你可能需要获取 Authing 服务的对外 IP，并修改防火墙配置。Authing 服务的对外 IP 可以通过[此端点](https://api.authing.cn/openapi/v3/authentication/#tag/公开信息端点/API%20列表/operation/PublicAPIV3Controller_getSystemInfo)获取。\n","x-displayName":"服务器 IP"},{"name":"开发准备/错误处理","description":"Authing API（V3） 采取了和标准 RESTful API 不完全一致的错误处理方案，如果没有特殊说明，\n所有接口返回的 HTTP 状态码均为 `200`。一个 HTTP 状态码为 `200` 的响应，不能视为操作成功，你需要通过响应体的具体内容进行判断。\n\nAuthing API（V3） 接口响应体中，包含了两个状态码：`statusCode` 和 `apiCode`：\n\n- `statusCode`: `statusCode` 为请求状态码，不包含具体的业务错误信息。**当且仅当 `statusCode` 为 `200` 时，表示接口请求成功**，此时不会带有 `apiCode`。`statusCode` 不为 `200` 的情况下，\n  表示接口请求失败或者需要进行额外操作（比如登录接口需要进行 MFA 二次验证），你需要对此进行关注，进行必要的错误处理。每个 `statusCode` 对应一个类型的错误，\n  具体的错误分类请见下文。在大多数情况下，除非你需要对某些特定的异常做出响应，否则你只需要关注 `statusCode`，不需要关注 `apiCode`。\n- `apiCode`: `apiCode` 为业务状态码，每个 `apiCode` 具备特定的错误含义，具体的 `apiCode` 列表见下文。`apiCode` 只会在 `statusCode` 非 200 且错误原因具备业务含义时才会返回。\n\n## statusCode\n\n| 错误码大类 | 错误类型           | 包含详细错误码                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |\n| ---------- | ------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| 2xx        | 请求正常           | - 200: OK                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |\n| 4xx        | 客户端异常         | - [400]InvalidArgumentError：请求参数格式错误 <br> - [401]UnauthorizedError：用户未登录 <br>- [402]PaymentNeededError：此接口需要升级套餐之后使用<br>- [403]ForbiddenError：没有权限执行某操作<br>- [404]NotFoundError：找不到资源<br>- [409]ConflictError：要创建的资源和已有资源存在字段冲突<br>- [413]PayloadTooLargeError：请求体过大<br>- [422]InvalidOperationError：非法操作（参数格式正确，但不符合业务限制）<br>- [429]ThrottleError：触发限流机制<br>- [499]ClientError：通用客户端异常 |\n| 5xx        | 服务器端异常       | - [500]ServerError：通用服务端异常<br>- [501]UnsupportedOperationError：服务器不支持的操作<br> - [502]BadGatewayError：微服务调用出错<br> - [503]ServiceUnavailableError：维护中                                                                                                                                                                                                                                                                                                                  |\n| 6xx        | 第三方服务调用异常 | - [601]EndpointRequestError：请求第三方端点失败<br>- [602]EndpointResponseError：第三方端点返回了错误<br>- [603]CustomCodeError：自定义代码出错，例如 pipeline 或自定义数据库                                                                                                                                                                                                                                                                                                                     |\n\n## apiCode\n\n| apiCode | 描述                                                       |\n| :------ | :--------------------------------------------------------- |\n| 1300    | AK/SK 签名不合法                                           |\n| 1301    | AK/SK 签名方式和服务端不匹配                               |\n| 1302    | AK/SK 签名版本和服务端不匹配                               |\n| 1303    | AK/SK 签名时间戳格式不正确，应该是单位为毫秒的 Unix 时间戳 |\n| 1304    | 使用 AK/SK 签名机制时，请求头中没有 date 请求头            |\n| 1305    | AK/SK 签名时间戳和服务器时间戳相差较大，此次请求不被允许   |\n| 1306    | AK/SK 签名已经被消费过，此次请求不被允许                   |\n| 1600    | 认证后流程成功完成，登录态已设置                           |\n| 1635    | 个人（个人中心绑定）MFA                                    |\n| 1636    | 企业（应用下配置的） MFA                                   |\n| 1639    | 首次登录重置密码（不需要验证旧密码）                       |\n| 1640    | 触发联邦认证询问身份绑定，只允许绑定现有账号               |\n| 1641    | 触发联邦认证询问身份绑定，允许绑定现有账号和创建新账号     |\n| 1642    | 登录信息补全                                               |\n| 1643    | 用户自主解锁                                               |\n| 1699    | 提前终止认证后流程，返回登录界面                           |\n| 1700    | 未上传人脸识别的照片                                       |\n| 1701    | 人脸对比时，未上传需要对比的图片                           |\n| 1702    | 人脸校验错误                                               |\n| 1703    | 未绑定邮箱或手机号，无法绑定人脸                           |\n| 1704    | 绑定人脸时，手机验证失败                                   |\n| 1705    | 绑定人脸时，邮箱验证失败                                   |\n| 1706    | 人脸已被绑定                                               |\n| 1707    | 绑定人脸失败                                               |\n| 2004    | 用户未找到                                                 |\n| 2005    | 用户已锁定                                                 |\n| 2006    | 密码错误                                                   |\n| 2011    | 应用不存在                                                 |\n| 2020    | 尚未登录，无权限访问此请求                                 |\n| 2031    | 应用已禁止注册用户                                         |\n| 2039    | 应用域名已被占用                                           |\n| 2040    | 用户池域名已被占用                                         |\n| 2058    | 强制重置密码（需要验证旧密码）                             |\n| 2224    | 用户池不存在                                               |\n| 2333    | 用户名或密码错误                                           |\n| 4021    | 计量计费错误                                               |\n| 6001    | Totp 码错误                                                |\n| 6002    | Totp 恢复码错误                                            |\n| 6003    | 未输入 Totp 安全码                                         |\n| 6004    | 未输入 Totp 恢复码                                         |\n| 2120008 | 用户已停用或不是此租户成员                                 |\n| 2130010 | 用户无权限登录此租户                                       |\n| 2820002 | 无效的 LDAP 链接                                           |\n\n## 响应数据示例\n\n一个成功的请求响应数据示例如下：\n\n```json\n{\n  // 此响应表示请求成功，所以不会返回 apiCode\n  \"statusCode\": 200,\n  \"message\": \"\",\n  \"data\": {\n    // ... 省略具体数据\n  }\n}\n```\n\n一个失败的请求响应数据示例如下：\n\n```json\n{\n  // 此类型错误不具备具体的业务含义，所以不会返回 apiCode\n  \"statusCode\": 429,\n  \"message\": \"您的请求已超过最大数量限制，请稍后重试\"\n}\n```\n\n以及：\n\n```json\n{\n  // 账号不存在或密码错误具备业务含义，所以返回了对应的 apiCode: 2333\n  \"statusCode\": 403,\n  \"apiCode\": 2333,\n  \"message\": \"Account not exists or password is incorrect.\",\n  \"requestId\": \"xxxxxx-xxxxxx-xxxxxx-xxxxxx\"\n}\n```\n\n## 我该如何处理 statusCode 和 apiCode\n\n在大多数情况下，除非你需要对某些特定的异常做出响应，否则你只需要关注 `statusCode`，不需要关注 `apiCode`。\n比如登录接口，如果你只需要在用户登录失败的时候给出错误提示，可以不用关心 `apiCode`；但是如果你需要对某一种\n特定的业务错误进行额外处理，就需要根据 `apiCode` 进行判断。\n","x-displayName":"错误处理"},{"name":"鉴权机制/获取 Access Token","description":"通过 AccessKey ID 与 AccessKey Secret 获取 Management API 的 Access Token，此 Access Token 可以用来操作 Management API。\n\n在 Authing 中，目前有两种类型的 AK/SK：\n\n- 用户池全局 AK/SK：具备用户池内所有资源的全局操作权限。你可以在 [Authing 控制台](https://console.authing.cn)的**设置** - **基础设置** - **密钥管理**获取到用户池 ID 和用户池密钥，其中用户池 ID 为 AK（Access Key ID）,用户池密钥为 SK（Access Key Secret）。\n- 协作管理员 AK/SK：可针对用户池内的资源进行细粒度授权，协作管理员的 AK/SK 只能调用其被授权的 API。（正在开发中，敬请期待。）\n\n你可以根据自己的需求选择合适的 AK/SK。\n\n获取到此接口返回的`access_token` 之后，你可以使用此 `access_token` 去调用 Authing 管理 API(v3) 中的 API，如下所示：\n\n- `authorization` 请求头：此接口获取到的 `access_token`。\n- `x-authing-userpool-id` 请求头：用户池 ID。\n\n```\ncurl -XPOST 'https://api.authing.cn/api/v3/list-users'\n  -H 'authorization: <替换成真实的 access_token>'\n  -H 'x-authing-userpool-id: <替换成真实的用户池 ID>'\n```\n\n`access_token` 的有效时间默认为 7200 秒，应用程序中应该维护 `access_token` 的状态，当 `access_token` 过期之后重新获取。\n","x-displayName":"获取 Access Token"},{"name":"鉴权机制/事件","description":"","x-displayName":"事件"},{"name":"管理用户/使用自定义数据库存储用户数据","description":"此模块用于管理 Authing 的用户目录。\n\n你可以把 Authing 用户目录理解为存储了你所有用户资料的目录，你可以在用户目录中搜索用户、查看用户资料、修改用户信息；这个用户目录的 Schema 是可扩展的，你可以添加自定义的用户字段。\n\n默认情况下，Authing 会将用户数据存储在 Authing 的数据库（Authing User Store），但是如果你有老的数据库需要迁移，或者想使用自己的数据库，如 MySQL，MongoDB，SQL Server 等（Custom User Store），你可以使用自定义数据库功能。详情请[查看文档](https://docs.authing.cn/v2/guides/database-connection/overview.html)。\n\n使用了自定义数据库的情况下，API 调用形式不受影响。\n\n![](https://files.authing.co/api-explorer/manage-user.jpg)","x-displayName":"使用自定义数据库存储用户数据"},{"name":"管理用户/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理用户/事件","description":"当你对用户进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理用户/常见问题","description":"## 如何迁移历史用户的密码\n\n假如你可以解密得到用户的原始密码，可以直接在创建用户的时候设置用户的密码；更多情况下，你可能无法获取用户的原始密码，但是你肯定有办法可以**验证用户密码**的合法性。通过以下两步可以实现无缝迁移历史用户的密码：\n\n- 第一步，配置自定义密码函数：你需要编写**加密密码**和**验证密码**两个函数，**加密密码函数**用于对新用户的密码进行自定义加密，**验证密码函数**用于对用户的密码进行自定义验证。详情请见[配置自定义密码函数](https://docs.authing.cn/v2/guides/migrations/custom-password-script/)。\n- 第二步，调用批量创建用户 API 创建用户时，设置 `options.keepPassword` 为 `true`，开启这个开关之后，用户的 `password` 字段会直接写入 Authing 数据库，Authing 不会再次加密此字段。后续用户验证密码时，将会使用你配置的自定义密码函数进行验证。\n","x-displayName":"常见问题"},{"name":"管理公共账号/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理组织机构/从第三方导入组织机构","description":"和一般的 OA 系统、人事管理系统不一样，Authing 的组织机构是支持多租户的，也就是一个用户池中可能有多个相互隔离的组织机构。所以在 Authing 的组织机构模型中，你需要明确区分两个概念：\n\n- `组织机构（Organization）`：组织机构是一组部门在逻辑上的集合。从数据结构上体现，每个组织机构有一棵独立的树状结构，树的节点对应的是部门；对应到现实生活中，你可以理解为一家独立的公司。\n- `部门（Department）`：部门对应的是一个原子化单位，对应到现实中，你可以理解为一个公司中的某个部门。\n\n对应的，Authing 组织机构管理 API 包含两部分：\n\n- 组织机构的管理：一级组织机构的创建、修改、删除、查询。\n- 部门的管理：在某个组织机构中，进行添加部门、修改部门、删除子部门、移动部门、获取子部门列表、添加成员、删除成员、获取成员列表等操作。\n\n在现实中，你很有可能在一个第三方的系统（比如飞书、钉钉、企业微信或者是任何自建的 HR 系统）中维护了你的组织机构数据，针对这种场景，Authing 推出了**同步中心**的功能。同步中心可以使企业管理者免于在各个系统中手动维护应用账号， 真正实现**一处管理、处处同步**，既提高了员工生命周期流转效率，又帮助企业降低了运维成本。\n\n![](https://cdn.authing.co/authing-docs-v2/1.3.123/assets/img/main.fd9b2a9e.jpg)\n\n详情请了解[同步中心](https://docs.authing.cn/v2/guides/sync-new/)。\n","x-displayName":"从第三方导入组织机构"},{"name":"管理组织机构/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理组织机构/事件","description":"当你对组织机构进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理角色/概述","description":"此模块用于介绍如何使用 API 管理你的角色。在查看具体的 API 列表之前，你应该还需要简单了解一下我们经常说的 RBAC（Role-Based Access Control，即基于角色的访问控制） 权限模型。\n\n## 什么是基于角色的访问控制（RBAC）\n\n基于角色的访问控制（Role-Based Access Control，简称 RBAC），指的是通过用户的角色（Role）授权其相关权限，这实现了更灵活的访问控制，相比直接授予用户权限，要更加简单、高效、可扩展。\n\n![](https://cdn.authing.co/authing-docs-v2/1.3.128/assets/img/rbac.60e79b81.png)\n\n当使用 RBAC 时，通过分析系统用户的实际情况，基于共同的职责和需求，授予他们不同角色。你可以授予给用户一个或多个角色，每个角色具有一个或多个权限，这种 用户-角色、角色-权限 间的关系，让我们可以不用再单独管理单个用户，用户从授予的角色里面继承所需的权限。\n\n以一个简单的场景（Gitlab 的权限系统）为例，用户系统中有 Admin、Maintainer、Operator 三种角色，这三种角色分别具备不同的权限，比如只有 Admin 具备创建代码仓库、删除代码仓库的权限，其他的角色都不具备。\n\n![](https://cdn.authing.co/authing-docs-v2/1.3.128/assets/img/rbac.d582f1b7.png)\n\n我们授予某个用户「Admin」这个角色，他就具备了「创建代码仓库」和「删除代码仓库」这两个权限。\n\n不直接给用户授权策略，是为了之后的扩展性考虑。比如存在多个用户拥有相同的权限，在分配的时候就要分别为这几个用户指定相同的权限，修改时也要为这几个用户的权限进行一一修改。有了角色后，我们只需要为该角色制定好权限后，给不同的用户分配不同的角色，后续只需要修改角色的权限，就能自动修改角色内所有用户的权限。\n","x-displayName":"概述"},{"name":"管理角色/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理角色/事件","description":"当你对角色进行了增删改操、授权作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理用户分组/概述","description":"在 Authing 中，分组和角色在含义上是有区别的，用户组是纯粹代表一群用户的集合，比如我们生活中的微信群、临时的项目小组；而角色往往会附带上权限，用户被分配了某个角色，就具备了这个角色拥有的权限。当你的「分组」需要涉及到权限的时候，你更应该去使用「角色」。\n","x-displayName":"概述"},{"name":"管理用户分组/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理用户分组/事件","description":"当你对用户分组进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理自定义字段/基本概念","description":"针对用户、部门、角色，除了 Authing 为开发者内置的字段，你还可以在此基础上对用户、部门、角色的 Schema 进行一定程度的自定义，比如创建自定义的字段，修改内置字段的限制条件等。\n\n设计到自定义字段相关的 API 时，你需要明确两个概念：**自定义字段定义**和**自定义字段的值**：\n\n- 自定义字段定义：定义了这个自定义字段的元信息，如描述、数据类型、限制条件等，可以理解为 Schema，只有你在 Authing 中先定义了一个自定义字段，才能设置对应的值。\n- 自定义字段的值：实际存储的自定义数据，这些自定义数据需要满足「自定义字段定义」Schema 的要求。\n","x-displayName":"基本概念"},{"name":"管理自定义字段/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理自定义字段/事件","description":"当你对自定义数据进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理资源与权限/基本概念","description":"此模块用于介绍如何使用 API 管理你的资源与资源授权。在查看具体的 API 列表之前，你应该还需要简单了解一下我们经常说的 ABAC（Attribute-Based Access Control，即基于角色的访问控制） 权限模型。\n\n## 什么是基于属性的访问控制（ABAC）\n\n基于属性的访问控制（Attribute-Based Access Control，简称 ABAC）是一种非常灵活的授权模型，不同于 RBAC，ABAC 则是通过各种属性来动态判断一个操作是否可以被允许。\n\n### ABAC 的主要组成部分\n\n在 ABAC 中，一个操作是否被允许是基于对象、资源、操作和环境信息共同动态计算决定的。\n\n- 对象：对象是当前请求访问资源的用户。用户的属性包括 ID，个人资源，角色，部门和组织成员身份等；\n- 资源：资源是当前访问用户要访问的资产或对象（例如文件，数据，服务器，甚至 API）。资源属性包含文件的创建日期，文件所有者，文件名和类型以及数据敏感性等等；\n- 操作：操作是用户试图对资源进行的操作。常见的操作包括“读取”，“写入”，“编辑”，“复制”和“删除”；\n- 环境：环境是每个访问请求的上下文。环境属性包含访问尝试的时间和位置，对象的设备，通信协议和加密强度等。\n\n### ABAC 如何使用属性动态计算出决策结果\n\n在 ABAC 的决策语句的执行过程中，决策引擎会根据定义好的决策语句，结合对象、资源、操作、环境等因素动态计算出决策结果。\n\n每当发生访问请求时，ABAC 决策系统都会分析属性值是否与已建立的策略匹配。如果有匹配的策略，访问请求就会被通过。\n\n例如，策略「当一个文档的所属部门跟用户的部门相同时，用户可以访问这个文档」会被以下属性匹配：\n\n- 对象（用户）的部门 = 资源的所属部门；\n- 资源 = “文档”；\n- 操作 = “访问”；\n\n策略「早上九点前禁止 A 部门的人访问 B 系统；」会被以下属性匹配：\n\n- 对象的部门 = A 部门；\n- 资源 = “B 系统”；\n- 操作 = “访问”；\n- 环境 = “时间是早上 9 点”。\n\n### ABAC 应用场景\n\n在 ABAC 权限模型下，你可以轻松地实现以下权限控制逻辑：\n\n1. 授权 A 具体某部门的编辑权限；\n2. 当一个文档的所属部门跟用户的部门相同时，用户可以访问这个文档；\n3. 当用户是一个文档的拥有者并且文档的状态是草稿，用户可以编辑这个文档；\n4. 早上九点前禁止 A 部门的人访问 B 系统；\n5. 在除了上海以外的地方禁止以管理员身份访问 A 系统；\n6. 上述的逻辑中有几个共同点：\n\n- 具体到某一个而不是某一类资源；\n- 具体到某一个操作；\n- 能通过请求的上下文（如时间、地理位置、资源 Tag）动态执行策略；\n\n如果浓缩到一句话，你可以**细粒度地授权在何种情况下对某个资源具备某个特定的权限。**\n\n## 我该如何选择使用哪种权限模型\n\n在这里，组织的规模是至关重要的因素。由于 ABAC 最初的设计和实施困难，对于小型企业而言，考虑起来可能太复杂了。\n\n对于中小型企业，RBAC 是 ABAC 的简单替代方案。每个用户都有一个唯一的角色，并具有相应的权限和限制。当用户转移到新角色时，其权限将更改为新职位的权限。这意味着，在明确定义角色的层次结构中，可以轻松管理少量内部和外部用户。\n\n但是，当必须手动建立新角色时，对于大型组织而言，效率不高。一旦定义了属性和规则，当用户和利益相关者众多时，ABAC 的策略就更容易应用，同时还降低了安全风险。\n\n简而言之，如果满足以下条件，请选择 ABAC：\n\n- 你在一个拥有许多用户的大型组织中；\n- 你需要深入的特定访问控制功能；\n- 你有时间投资远距离的模型；\n- 你需要确保隐私和安全合规；\n\n但是，如果满足以下条件，请考虑 RBAC：\n\n- 你所在的是中小型企业；\n- 你的访问控制策略广泛；\n- 你的外部用户很少，并且你的组织角色得到了明确定义；\n","x-displayName":"基本概念"},{"name":"管理资源与权限/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理资源与权限/事件","description":"","x-displayName":"事件"},{"name":"管理数据资源与权限/概述","description":"数据权限模块我们提供了丰富的 API，供开发人员使用，在查看具体的 API 列表之前，你可以通过文档：[对用户进行权限管理](https://docs.authing.cn/v2/guides/access-control/) 进行了解一下我们的权限模型相关概念\n\n## API 目录\n\n### 权限空间\n\n- [创建权限空间](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_createPermissionNamespace)（重点）\n- [批量创建权限空间](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_createPermissionNamespacesBatch)\n- [获取权限空间详情](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_getPermissionNamespace)\n- [批量获取权限空间详情](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_getPermissionNamespacesBatch)\n- [分页获取权限空间列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_ListPermissionNamespaces)\n- [修改权限空间](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_updatePermissionNamespace)\n- [删除权限空间](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_deletePermissionNamespace)\n- [批量删除权限空间](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_deletePermissionNamespacesBatch)\n- [校验权限空间下 Code 或名称是否可用](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_checkPermissionNamespaceExists)\n- [分页查询权限空间下所有的角色列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/PermissionNamespaceManagementController_ListPermissionNamespaceRoles)\n\n### 数据资源\n\n- [创建数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_createDataResource)（推荐、重点）\n- [创建字符串类型数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_createDataResourceByString)\n- [创建数组类型数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_createDataResourceByArray)\n- [创建树类型数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_createDataResourceByTree)\n- [获取数据资源列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_listDataResources)\n- [获取数据资源详情](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_getDataResource)\n- [修改数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_updateDataResource)\n- [删除数据资源](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_deleteDataResource)\n- [检查数据资源 Code 或名称是否可用](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesManagementController_checkDataResourceExists)\n\n### 数据策略\n\n- [创建数据策略](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_createDataPolicy)（重点）\n- [获取数据策略列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_listDataPolices)\n- [获取数据策略简略信息列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_listSimpleDataPolices)\n- [获取数据策略详情](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_getDataPolicy)\n- [修改数据策略](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_updateDataPolicy)\n- [删除数据策略](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_deleteDataPolicy)\n- [检查数据策略名称是否可用](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_checkDataPolicyExists)\n\n### 授权\n\n- [授权数据策略](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_authorizeDataPolicies)（重点）\n- [获取数据策略授权的主体列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_listDataPolicyTargets)\n- [删除数据策略授权](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataResourcesPolicyManagementController_revokeDataPolicy)\n\n### 鉴权\n\n- [获取用户权限列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getUserPermissionList)\n- [判断用户权限](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_checkPermission)（重点）\n- [判断外部用户权限](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_checkExternalUserPermission)\n- [获取用户拥有某些资源的权限列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getUserResourcePermissionList)（推荐）\n- [获取拥有某些资源权限的用户列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_listResourceTargets)\n- [获取用户拥有指定资源的权限及资源结构信息](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getUserResourceStruct)\n- [获取外部用户拥有指定资源的权限及资源结构信息](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getExternalUserResourceStruct)\n- [判断用户在树资源同层级下的权限](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_checkUserSameLevelPermission)（推荐）\n- [获取权限视图数据列表](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataPermissionViewManagementController_listPermissionView)\n\n## API 使用完整示例\n\n### 业务场景说明\n\n作为使用 Authing 的数据权限功能模块的开发者，我现在需要使用它实现对公司研发和运维人员使用的内部平台进行权限管控，该平台的菜单如下：\n\n- 知识库 (knowledge base)\n  > 一级菜单\n  - 研发知识库 (rd knowledge base)\n    > 二级菜单，点击后显示所有研发创建的一系列文档数据，我们规定只有研发人员可以访问此菜单并且如果能访问就可以对所有的文档数据做任何操作。\n  - 运维知识库 (devops knowledge base)\n    > 二级菜单，点击后显示所有运维创建的一系列文档数据，我们规定只有运维人员可以访问此菜单并且如果能访问就可以对所有的文档数据做任何操作。\n- 数据库 (db)\n  > 一级菜单，点击后显示所有环境的数据库，有：生产、测试、开发。 其中运维人员可以在所有环境进行 `执行 SQL` 操作，研发人员只能在测试、开发环境进行 `执行 SQL`。\n\n### 业务分析\n\n根据上面的业务场景，可以得出以下结论：\n\n1. 公司员工登录该平台后，不同角色的人员能够访问的菜单不同，针对这种具备层级结构的资源，则对应数据资源类型为：树\n2. 对于研发和运维知识库的二级菜单，只要能访问则可以对所有的文档数据做任何操作，无需针对单条文档进行权限管控，所以这里我们只需要对菜单进行权限管控即可。\n3. 对于数据库菜单下的数据（各个环境），我们需要进行更细致力度的权限管控，即：研发人员只能访问测试、开发环境，运维人员可以访问所有环境。我们可以将这些环境以同层级的方式存储到一个树类型数据资源中，这样可以配置更细致的权限策略。\n\n### 业务实现\n\n根据上面的业务分析，我们需要进行如下步骤：\n\n1. 定义权限空间\n2. 将我们的业务数据对象导入到 Authing 的数据资源中\n3. 定义数据策略\n4. 对用户进行授权数据策略\n5. 鉴权\n\n作为开发者，我将通过 Authing 提供的 API 按以下几个步骤进行具体实现：\n\n1. 创建权限空间\n   ```http\n   POST /api/v3/create-permission-namespace\n   {\n     \"name\": \"内部平台\",\n     \"code\": \"internal-platform\"\n   }\n   ```\n2. 将菜单数据导入到 Authing 的数据资源中，注意：菜单资源的操作只有 `access`，即：访问\n   ```http\n    POST /api/v3/create-data-resource\n    {\n      \"namespaceCode\": \"internal-platform\",\n      \"resourceName\": \"内部平台菜单\",\n      \"resourceCode\": \"internal-platform-menu\",\n      \"type\": \"TREE\",\n      \"struct\": [\n        {\n          \"name\": \"知识库\",\n          \"code\": \"knowledge-base\",\n          \"value\": \"Knowledge Base\",\n          \"children\": [\n            {\n              \"name\": \"研发知识库\",\n              \"code\": \"rd-knowledge-base\",\n              \"value\": \"RD Knowledge Base\"\n            },\n            {\n              \"name\": \"运维知识库\",\n              \"code\": \"devops-knowledge-base\",\n              \"value\": \"DevOps Knowledge Base\"\n            }\n          ]\n        },\n        {\n          \"name\": \"数据库\",\n          \"code\": \"db\",\n          \"value\": \"DB\"\n        }\n      ],\n      \"actions\": [\"access\"]\n    }\n   ```\n3. 将数据库环境数据导入到 Authing 的数据资源中\n   ```http\n   POST /api/v3/create-data-resource\n   {\n      \"namespaceCode\": \"internal-platform\",\n      \"resourceName\": \"数据库环境\",\n      \"resourceCode\": \"db-env\",\n      \"type\": \"TREE\",\n      \"struct\": [\n        {\n          \"name\": \"生产\",\n          \"code\": \"prod\",\n          \"value\": \"prod\"\n        },\n        {\n          \"name\": \"测试\",\n          \"code\": \"test\",\n          \"value\": \"test\"\n        },\n        {\n          \"name\": \"开发\",\n          \"code\": \"dev\",\n          \"value\": \"dev\"\n        }\n      ],\n      \"actions\": [\"execute-sql\"]\n   }\n   ```\n4. 创建研发人员的数据策略：能够访问研发知识库、数据库菜单，并且可以在数据库的测试和开放环境中进行 `执行 SQL` 操作\n   ```http\n   POST /api/v3/create-data-policy\n   {\n     \"policyName\": \"研发策略\",\n     \"statementList\": [\n       {\n         \"effect\": \"ALLOW\",\n         \"permissions\": [\n           \"internal-platform/internal-platform-menu/knowledge-base/rd-knowledge-base/access\",\n           \"internal-platform/internal-platform-menu/db/access\"\n         ]\n       },\n       {\n         \"effect\": \"ALLOW\",\n         \"permissions\": [\n           \"internal-platform/db-env/test/execute-sql\",\n           \"internal-platform/db-env/dev/execute-sql\"\n         ]\n       }\n     ]\n   }\n   ```\n5. 创建运维人员的数据策略: 能够访问运维知识库、数据库菜单，并且可以在所有数据库环境中进行 `执行 SQL` 操作\n   ```http\n   POST /api/v3/create-data-policy\n   {\n     \"policyName\": \"运维策略\",\n     \"statementList\": [\n       {\n         \"effect\": \"ALLOW\",\n         \"permissions\": [\n           \"internal-platform/internal-platform-menu/knowledge-base/devops-knowledge-base/access\",\n           \"internal-platform/internal-platform-menu/db/access\"\n         ]\n       },\n       {\n         \"effect\": \"ALLOW\",\n         \"permissions\": [\n           \"internal-platform/db-env/prod/execute-sql\",\n           \"internal-platform/db-env/test/execute-sql\",\n           \"internal-platform/db-env/dev/execute-sql\"\n         ]\n       }\n     ]\n   }\n   ```\n6. 为不同的角色（研发和运维）进行授权数据策略，注意：这里假设我们的员工数据已经同步到 Authing 中了\n   ```http\n   POST /api/v3/authorize-data-policies\n   {\n      \"policyIds\": [\"研发策略 ID\"],\n      \"targetList\": [\n        {\n          \"id\": \"研发角色 ID\",\n          \"type\": \"ROLE\"\n        }\n      ]\n   }\n   ```\n   ```http\n   POST /api/v3/authorize-data-policies\n   {\n      \"policyIds\": [\"运维策略 ID\"],\n      \"targetList\": [\n        {\n          \"id\": \"运维角色 ID\",\n          \"type\": \"ROLE\"\n        }\n      ]\n   }\n   ```\n7. 在内部平台的后端调用 Authing 鉴权 API，来实现权限控制\n\n   1. 假设某个研发用户登录内部平台后，需要渲染菜单，由于菜单是需要完整的树状结构，所以我们使用 [获取用户拥有指定资源的权限及资源结构信息](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getUserResourceStruct) API\n\n      请求：\n\n      ```http\n      POST /api/v3/get-user-resource-struct\n      {\n        \"namespaceCode\": \"internal-platform\",\n        \"userId\": \"研发用户 ID\",\n        \"resourceCode\": \"internal-platform-menu\"\n      }\n      ```\n\n      响应：\n\n      ```\n      {\n        \"statusCode\": 200,\n        \"message\": \"操作成功\",\n        \"apiCode\": 20001,\n        \"data\": {\n          \"namespaceCode\": \"internal-platform\",\n          \"resourceCode\": \"internal-platform-menu\",\n          \"resourceType\": \"TREE\",\n          \"treeResourceAuthAction\": {\n              \"nodeAuthActionList\": [\n                {\n                  \"code\": \"knowledge-base\",\n                  \"name\": \"知识库\",\n                  \"value\": \"Knowledge Base\",\n                  \"actions\": [\"access\"],\n                  \"children\": [\n                    {\n                      \"code\": \"rd-knowledge-base\",\n                      \"name\": \"研发知识库\",\n                      \"value\": \"RD Knowledge Base\",\n                      \"actions\": [\"access\"]\n                    }\n                  ]\n                },\n                {\n                    \"code\": \"db\",\n                    \"name\": \"数据库\",\n                    \"value\": \"DB\",\n                    \"actions\": [\"access\"]\n                }\n            ]\n          }\n        }\n      }\n      ```\n\n      > 返回参数中的 `nodeAuthActionList` 是一个树状结构，我们可以交给前端进行渲染即可\n\n   2. 该研发点击数据库菜单后，需要展示他能够`执行 SQL`的数据库环境，我们使用 [获取用户拥有指定资源的权限及资源结构信息](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_getUserResourceStruct) API\n\n      请求：\n\n      ```http\n      POST /api/v3/get-user-resource-struct\n      {\n        \"namespaceCode\": \"internal-platform\",\n        \"userId\": \"研发用户 ID\",\n        \"resourceCode\": \"db-env\"\n      }\n      ```\n\n      响应：\n\n      ```\n      {\n        \"statusCode\": 200,\n        \"message\": \"操作成功\",\n        \"apiCode\": 20001,\n        \"data\": {\n          \"namespaceCode\": \"internal-platform\",\n          \"resourceCode\": \"db-env\",\n          \"resourceType\": \"TREE\",\n          \"treeResourceAuthAction\": {\n              \"nodeAuthActionList\": [\n                {\n                  \"code\": \"test\",\n                  \"name\": \"测试\",\n                  \"value\": \"test\",\n                  \"actions\": [\"execute-sql\"]\n                },\n                {\n                  \"code\": \"dev\",\n                  \"name\": \"开发\",\n                  \"value\": \"dev\",\n                  \"actions\": [\"execute-sql\"]\n                }\n            ]\n          }\n        }\n      }\n      ```\n\n      > 根据返回参数中 `nodeAuthActionList` 数组进行渲染即可\n\n   3. 当这名研发选择了`测试`环境并在表单中输入了一条 SQL，为了安全起见，我们还需要判断他是否能够进行该操作，则可以调用 [判断用户权限](https://api-explorer.authing.cn/?tag=tag/管理数据资源与权限/API%20列表/operation/DataAuthenticationManagementController_checkPermission) API\n      请求：\n      ```http\n      POST /api/v3/check-permission\n      {\n        \"namespaceCode\": \"internal-platform\",\n        \"userId\": \"研发用户 ID\",\n        \"resources\": [\"db-env/test\"],\n        \"action\": \"execute-sql\"\n      }\n      ```\n      响应：\n      ```\n      {\n        \"statusCode\": 200,\n        \"message\": \"操作成功\",\n        \"apiCode\": 20001,\n        \"data\": {\n          \"checkResultList\": [\n             {\n                 \"namespaceCode\": \"internal-platform\",\n                 \"resource\": \"db-env/test\",\n                 \"action\": \"execute-sql\",\n                 \"enabled\": true\n             }\n          ]\n        }\n      }\n      ```\n      > 如果返回参数中 `enabled` 是为 true，则表示他有此权限\n","x-displayName":"概述"},{"name":"管理数据资源与权限/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理数据资源与权限/事件","description":"","x-displayName":"事件"},{"name":"管理数据资源与权限/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理应用/概述","description":"在 Authing 中，**用户池**是租户隔离的最小单位，存储了用户系统中所有的用户数据；而**应用**则对应的是现实中创建的业务应用。一个用户池可能会有多个应用，比如一个学校所有的学生在一个用户池里，而学校会同时开发了选课应用、邮箱应用、师生服务中心等多个应用，这些应用会使用同一个用户系统。详情请了解[相关文档](https://docs.authing.cn/v2/guides/app-new/create-app/)。\n","x-displayName":"概述"},{"name":"管理应用/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理应用/事件","description":"当你对应用进行创建、更新、删除、刷新密钥等操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理身份源/基本概念","description":"此部分 API 介绍如何管理你的用户池中的外部身份源以及外部身份源连接。在查看具体的 API 文档之前，你应该先明确下面两个基本的概念。\n\n## 外部身份源\n\n**外部身份源**（又称身份提供商，英文全称为 Identity Provider，简称 IdP）指的是一个负责收集、存储用户身份信息，如用户名、密码等，在用户登录时负责认证用户的第三方，比如我们经常使用**微信社会化登录**、**Google 社会化登录**等。使用外部身份源可以降低开发者等维护成本以及终端用户的使用成本。\n\n在 Authing 中，我们将身份提供商分为以下几种：\n\n- [社会化身份源](https://docs.authing.cn/v2/guides/connections/social.html)：如微信、支付宝、GitHub、Apple 这类面向所有公众开放的第三方应用。\n- [企业身份源](https://docs.authing.cn/v2/guides/connections/enterprise.html)：企业微信、钉钉、飞书、WeLink 这类一般面向于单个公司内部开放的应用，以及其他以 Windows AD、OIDC、SAML、LDAP、CAS、OAuth2.0 等标准协议对外提供服务的第三方应用。\n- [自定义数据库](https://docs.authing.cn/v2/guides/database-connection/overview.html)：采用配置自定义数据库连接和脚本的方式，将用户数据存储到你自己的数据库，Authing 将不再存储你的用户数据。\n\n## 外部身份源连接\n\n一个外部身份源，对外可能会暴露多种**连接方式**。就像微信，作为一个外部身份源，它会有微信 PC 扫码登录、PC 小程序扫码登录、小程序登录、移动端微信登录、公众号关注登录、微信网页授权等多种登录方式；再比如 Apple，也分为 Apple 移动端登录和 Apple Web 端登录。\n\n对于终端用户而言，不同的连接方式对应了在不同场景下的不同登录手段。但是对于一个终端用户，不同登录方式背后的身份是同一个。就好比用户使用微信登录你开发的 Web 应用时，可以采用微信 PC 扫码登录这种登录方式，而当要使用微信 APP 登录你的移动应用时，可以采用微信移动端登录这种登录方式，但是他们本质上都是使用一个身份进行登录。\n\n对于开发者而言，只需要关心在什么场景下需要给用户呈现哪种登录方式，至于如何将使用不同连接方式登录的终端用户识别为同一个账号，Authing 的认证引擎会为你省去这些繁琐的工作。\n\n根据连接方式的不同，不同类型的身份源连接方式在用户使用形式、接入方式上也存在差异。大致上可以分为三类：\n\n- **Web 端浏览器跳转类**：需要浏览器跳转到第三方身份源的登录页，用户完成授权之后，再回到当前页面。此类可以通过直接替换当前页面地址和弹出 Popup 窗口实现。例如微信 PC 扫码登录、Google 社会化登录等。\n- **Web 端内嵌二维码扫码登录类**：和「Web 端浏览器跳转类」不同，此类连接方式不需要浏览器跳转，而是让用户在移动端 APP 上扫码，浏览器采用二维码轮询的方式监听登录态。例如微信公众号关注登录和 Authing 自创的小程序扫码登录。\n- **移动端拉起第三方应用类**：在移动 APP 中，跳转到第三方身份源的 APP，用户完成授权之后，再回到当前 APP。例如在移动 APP 中使用微信、支付宝登录。\n","x-displayName":"基本概念"},{"name":"管理身份源/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理身份源/事件","description":"","x-displayName":"事件"},{"name":"管理安全配置/概述","description":"此模块用于介绍如何使用 API 管理你的用户池的安全配置，如修改禁止注册开关、修改全局 MFA 配置等。\n","x-displayName":"概述"},{"name":"管理安全配置/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理安全配置/事件","description":"","x-displayName":"事件"},{"name":"管理注册白名单/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理消息服务/概述","description":"此部分 API 介绍如何管理你的用户池中邮件模版和第三方邮件、短信服务商。有关这些内容的详细介绍请见[此文档](https://docs.authing.cn/v2/guides/userpool-config/email/)。\n","x-displayName":"概述"},{"name":"管理消息服务/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理消息服务/事件","description":"","x-displayName":"事件"},{"name":"管理同步中心/基本概念","description":"此部分介绍如何使用 API 管理你的同步中心相关业务，如创建同步任务、手动触发同步任务执行、获取同步任务执行日志等。有关同步中心的详细介绍，请见[此文档](https://docs.authing.cn/v2/guides/sync-new/)。\n\n在查看具体的 API 之前，你应该先明确区分下面几个概念：\n\n- 同步任务（Sync Task）：同步任务定义了如何去进行同步，比如上游同步源是什么、是周期性定时执行根据事件变动自动执行、上下游之间的字段映射关系是什么。一个同步任务可以被触发多次。\n- 同步作业（Sync Job）：同步作业指的是同步任务具体的某一次执行实例，一次同步作业会有成功、失败的状态，以及此次同步执行情况的数据统计。\n- 同步作业日志（Sync Job Log）：同步作业日志指的是在一次同步作业执行过程中，会产生很多日志，比如创建了哪些用户、修改了哪些用户、修改的用户中哪些字段发生了变化等。\n","x-displayName":"基本概念"},{"name":"管理同步中心/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理同步中心/事件","description":"","x-displayName":"事件"},{"name":"管理事件/概述","description":"此部分介绍如何使用 API 管理你的 Webhook，如创建 Webhook、查询 Webhook 日志等。有关 Webhook 的详细介绍，请见[此文档](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"概述"},{"name":"管理事件/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理事件/事件","description":"","x-displayName":"事件"},{"name":"管理岗位/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理岗位/事件","description":"","x-displayName":"事件"},{"name":"管理数据对象/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理数据对象/事件","description":"","x-displayName":"事件"},{"name":"管理 Pipeline/基本概念","description":"此部分介绍如何使用 API 管理你的 Pipeline 函数，如创建 Pipeline 函数、查询 Pipeline 函数日志等。有关 Pipeline 的详细介绍，请见[此文档](https://docs.authing.cn/v2/guides/pipeline/)。\n\n## 什么是 Pipeline\n\nAuthing Pipeline 为一组运行在云端的用户自定义 JavaScript 代码，可以让开发者扩展、自定义 Authing 能力。\n\nAuthing Pipeline 函数均为用户可自定义，同时我们还提供了[丰富的函数模版](https://github.com/authing/pipeline)，帮助开发者快速上手开发。\n\n同时 Pipeline 为一组函数，和普通 Hooks 的区别在于，Pipeline 整个流程中的函数数据可以相互传递，实现工业流水线一样的效果。这种设计模式，可以使得开发者的自定义函数更加模块化，便于管理。\n\nAuthing Pipeline 后端使用 serverless 架构，所有的用户自定义代码均运行在云端，保证不同租户之间的隔离性，同时能弹性伸缩，既保证了安全性，又提升了运行效率。\n\n![](https://cdn.authing.cn/blog/authing-pipeline.png)\n\n## 应用场景\n\n借助 Authing Pipeline，开发者可以实现以下功能：\n\n- 白名单机制：如注册邮箱后缀白名单、注册 IP 白名单等。\n- 事件通知：如用户注册之后发送群通知、用户登录 IP 异常通知等。\n- 权限控制：如用户登录之后根据邮箱将其加入某用户组等。\n- 扩展用户字段：如给该请求用户添加自定义 metadata 等。\n- 自定义 token：如往 token 中加入自定义字段等。\n  ... 还有更多，想象空间是无穷的。\n","x-displayName":"基本概念"},{"name":"管理 Pipeline/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理 Pipeline/事件","description":"","x-displayName":"事件"},{"name":"管理 Webhook/概述","description":"此部分介绍如何获取 Authing 事件中心的事件列表以及如何往 Authing 事件中心推送自定义事件。\n","x-displayName":"概述"},{"name":"管理 Webhook/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理 Webhook/事件","description":"","x-displayName":"事件"},{"name":"管理审计日志/概述","description":"此部分介绍如何使用 API 查看用户池内的审计日志，并支持通过一定条件进行筛选。\n\nAuthing 提供的审计功能分为两个方面：\n\n- [管理员行为的操作日志](https://docs.authing.cn/v2/guides/audit/administrator-action.html)：你可以得到所有管理员用户通过身份管理平台的行为。\n- [用户行为的日志](https://docs.authing.cn/v2/guides/audit/user-action.html)：可以清晰得还原出用户在平台中的行为，以支持企业的合规管理，同时可用作事件发生后的回溯和定责。\n","x-displayName":"概述"},{"name":"管理审计日志/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理审计日志/事件","description":"","x-displayName":"事件"},{"name":"管理计量计费/概述","description":"此部分介绍如何使用 API 查看用户池内计量计费使用情况，如套餐使用情况、查询当月 MAU 等。\n","x-displayName":"概述"},{"name":"管理计量计费/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理计量计费/事件","description":"","x-displayName":"事件"},{"name":"管理终端设备/概述","description":"","x-displayName":"概述"},{"name":"管理终端设备/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理风险名单/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理风险名单/事件","description":"","x-displayName":"事件"},{"name":"工具与资源/Authing 认证 API","description":"如果你需要进行登录、注册等用户自主发起的操作，[点此查看 Authing 用户认证 API (v3)](https://api.authing.cn/openapi/v3/authentication) 。\n","x-displayName":"Authing 认证 API"},{"name":"工具与资源/SDK 列表","description":"针对此部分 API，我们还提供了以下几种语言的 SDK，各个 SDK 的方法名、参数、返回值和 API 尽可能保持完全一致，可以帮助你更快集成：\n\n- [Java](https://docs.authing.cn/v3/reference/sdk/java/install.html)\n- [Node.js](https://docs.authing.cn/v3/reference/sdk/node/install.html)\n- [Golang](https://docs.authing.cn/v3/reference/sdk/go/install.html)\n- [Python](https://docs.authing.cn/v3/reference/sdk/python/install.html)\n- [PHP](https://docs.authing.cn/v3/reference/sdk/php/install.html)\n- [C#](https://docs.authing.cn/v3/reference/sdk/csharp/install.html)\n","x-displayName":"SDK 列表"},{"name":"工具与资源/使用文档","description":"如果你希望使用 Authing 控制台对用户池内的资源进行操作，可以阅读此部分的[使用指南](https://docs.authing.cn/v2/guides/)。\n","x-displayName":"使用文档"},{"name":"获取帮助/获取帮助","description":"有任何建议或者问题反馈，欢迎在 [Authing 论坛](https://forum.authing.cn/)中提出。\n","x-displayName":"获取帮助"}],"servers":[{"url":"https://api.authing.cn","description":"Beta"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"},"x-authing-userpool-id":{"type":"apiKey","in":"header","name":"x-authing-userpool-id","description":"Authing Userpool Id"}},"schemas":{"Condition":{"type":"object","properties":{"key":{"type":"string","description":"搜索字段的 key"},"value":{"type":"object","description":"搜索值"},"operator":{"type":"string","description":"操作类型：\n    - eq: 等于\n    - ne: 不等于\n    - co: 包含\n    - gt: 大于\n    - lt: 小于\n    - lte: 小于等于\n    - gte: 大于等于\n    - in: 数组包含\n    "}},"required":["key","value","operator"]},"ScopeDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"id":{"type":"string","description":"行 id"},"fieldId":{"type":"string","description":"字段 id"}},"required":["modelId","id","fieldId"]},"Expand":{"type":"object","properties":{"field":{"type":"string","description":"关联的字段 key"},"select":{"description":"展开哪些关联字段","type":"array","items":{"type":"string"}}},"required":["field","select"]},"FilterDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"keywords":{"type":"string","description":"关键字"},"conjunction":{"type":"string","description":"多个搜索条件的关系：\n    - and: 且\n    - or:  或\n    "},"conditions":{"description":"搜索条件","type":"array","items":{"$ref":"#/components/schemas/Condition"}},"sort":{"description":"排序条件","example":[{"key1":"desc"},{"key2":"asc"}],"type":"array","items":{"type":"object"}},"page":{"type":"number","description":"当前页数，从 1 开始","default":1,"example":1},"limit":{"type":"number","description":"每页数目，最大不能超过 50，默认为 10","default":10,"example":10},"fetchAll":{"type":"boolean","description":"是否不分页返回所有（仅支持树形结构获取子节点的场景）","default":false},"withPath":{"type":"boolean","description":"是否返回节点的全路径（仅支持树形结构）","default":false},"showFieldId":{"type":"boolean","description":"返回结果中是否使用字段 id 作为 key","default":false},"previewRelation":{"type":"boolean","description":"返回结果中是包含关联数据的预览（前三个）","default":false},"getRelationFieldDetail":{"type":"boolean","description":"是否返回关联数据的详细用户信息，当前只支持用户。","default":false},"scope":{"description":"限定检索范围为被某个功能关联的部分","allOf":[{"$ref":"#/components/schemas/ScopeDto"}]},"filterRelation":{"description":"过滤指定关联数据","allOf":[{"$ref":"#/components/schemas/ScopeDto"}]},"expand":{"description":"获取对应关联数据的详细字段","type":"array","items":{"$ref":"#/components/schemas/Expand"}}},"required":["modelId"]},"FunctionModelValueListDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"总行数"},"list":{"description":"响应数据","type":"array","items":{"type":"object"}}},"required":["totalCount","list"]},"FunctionModelValueListResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。","example":20001},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/FunctionModelValueListDto"}]}},"required":["statusCode","message","data"]},"CellDto":{"type":"object","properties":{"fieldId":{"type":"string","description":"字段 id"},"value":{"type":"object","description":"数据内容"}},"required":["fieldId","value"]},"RowDto":{"type":"object","properties":{"rowId":{"type":"string","description":"行 id"},"cellList":{"description":"单元格列表","type":"array","items":{"$ref":"#/components/schemas/CellDto"}}},"required":["rowId","cellList"]},"FunctionModelValueResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。","example":20001},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/RowDto"}]}},"required":["statusCode","message","data"]},"GetRowBatchDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"rowIds":{"description":"行 id 列表","type":"array","items":{"type":"string"}}},"required":["modelId","rowIds"]},"MetadataListResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。","example":20001},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/RowDto"}}},"required":["statusCode","message","data"]},"CreateRowDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"rowId":{"type":"string","description":"自定义行 id，默认自动生成。最长只允许 32 位。","maxLength":32},"data":{"type":"object","description":"数据内容"}},"required":["modelId","data"]},"UpdateRowDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"rowId":{"type":"string","description":"行 id"},"data":{"type":"object","description":"数据内容"},"showFieldId":{"type":"boolean","description":"响应中键是否为 FieldId","default":false}},"required":["modelId","rowId","data"]},"RemoveRowDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"rowIdList":{"description":"行 id","type":"array","items":{"type":"string"}},"recursive":{"type":"boolean","description":"如果当前行有子节点，是否递归删除，默认为 false。当为 false 时，如果有子节点，会提示错误。","default":false,"example":false}},"required":["modelId","rowIdList"]},"CommonResponseDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"}},"required":["statusCode","message"]},"CreateFunctionModelDto":{"type":"object","properties":{"name":{"type":"string","description":"功能名称"},"description":{"type":"string","description":"功能描述","example":"会员等级","nullable":true},"type":{"type":"string","description":"功能类型：\n    - user: 用户\n    - post: 岗位\n    - group: 用户组\n    - ueba: ueba\n    - department: 树状结构数据\n    - organization: 组织\n    - device: 设备\n    - custom: 自定义\n    ","enum":["ueba","user","post","group","department","organization","device","device_rely","custom"]},"dataType":{"type":"string","description":"数据类型：\n    - list: 列表类型数据\n    - tree: 树状结构数据\n    ","enum":["list","tree"],"default":"list","example":"list"},"enable":{"type":"boolean","description":"功能是否启用:\n    - true: 启用\n    - false: 不启用\n    ","default":true,"nullable":true},"parentKey":{"type":"string","description":"父级菜单"}},"required":["name","description","type","enable","parentKey"]},"FunctionModelDto":{"type":"object","properties":{"id":{"type":"string","description":"功能 id"},"userPoolId":{"type":"string","description":"用户池 id"},"name":{"type":"string","description":"功能名称"},"description":{"type":"string","description":"功能描述"},"dataType":{"type":"string","description":"数据类型：\n    - list: 列表类型数据。\n    - tree: 树状结构数据。\n    ","enum":["list","tree"],"default":"list","example":"list"},"enable":{"type":"boolean","description":"功能是否启用:\n    - true: 启用\n    - false: 不启用\n    "},"parentKey":{"type":"string","description":"父级菜单"},"createdAt":{"type":"string","description":"创建时间"},"updatedAt":{"type":"string","description":"更新时间"},"type":{"type":"string","description":"功能类型：\n    - user: 用户\n    - post: 岗位\n    - group: 用户组\n    - ueba: ueba\n    - department: 树状结构数据\n    - organization: 组织\n    - device: 设备\n    - device_rely: 设备\n    - custom: 自定义\n    ","enum":["ueba","user","post","group","department","organization","device","device_rely","custom"]},"fieldOrder":{"type":"string","description":"字段排序"},"config":{"type":"object","description":"详情页配置"}},"required":["id","userPoolId","name","description","dataType","enable","parentKey","createdAt","updatedAt","type","fieldOrder","config"]},"FunctionModelResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/FunctionModelDto"}]}},"required":["statusCode","message","data"]},"FunctionModelListDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/FunctionModelDto"}}},"required":["statusCode","message","list"]},"FunctionModelIdDto":{"type":"object","properties":{"id":{"type":"string","description":"功能 id 可以从控制台页面获取"}},"required":["id"]},"UpdateFunctionModelDto":{"type":"object","properties":{"id":{"type":"string","description":"功能 id"},"name":{"type":"string","description":"功能名称"},"description":{"type":"string","description":"功能描述","example":"描述 1","nullable":true},"enable":{"type":"boolean","description":"功能是否启用"},"parentKey":{"type":"string","description":"父级菜单"},"type":{"type":"string","description":"功能类型","enum":["ueba","user","post","group","department","organization","device","device_rely","custom"]},"fieldOrder":{"type":"string","description":"字段序"},"config":{"type":"object","description":"详情页配置"}},"required":["id","name","description","enable","parentKey","type","fieldOrder","config"]},"DropDownItemDto":{"type":"object","properties":{"key":{"type":"string","description":"选项 id"},"label":{"type":"string","description":"选项名称"}},"required":["key","label"]},"CreateFunctionModelFieldDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"name":{"type":"string","description":"字段名称"},"key":{"type":"string","description":"字段属性名"},"type":{"type":"string","description":"字段类型:\n    - 1: 单行文本\n    - 2: 多行文本\n    - 3: 数字\n    - 4: 布尔类型\n    - 5: 日期\n    - 6: 枚举\n    - 7: 关联类型\n    - 8: 反向关联数据展示\n    ","enum":["Text","Textarea","Number","Boolean","Date","Enum","Relation","ReverseRelation","Array"]},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - false: 不展示\n    "},"editable":{"type":"boolean","description":"是否可编辑:\n    - true: 可编辑\n    - false: 不可编辑\n    "},"help":{"type":"string","description":"帮助说明"},"default":{"type":"object","description":"默认值"},"require":{"type":"boolean","description":"是否必填:\n    - true: 必填\n    - false: 不必填\n    "},"unique":{"type":"boolean","description":"是否唯一:\n    - true: 唯一\n    - false: 不唯一\n    "},"maxLength":{"type":"number","description":"字符串长度限制"},"max":{"type":"number","description":"如果类型是数字表示数字上限，如果类型是日期表示结束日期"},"min":{"type":"number","description":"如果类型是数字表示数字下限，如果类型是日期表示开始日期"},"regexp":{"type":"string","description":"字符串的校验匹配规则"},"format":{"type":"number","description":"前端格式化显示规则:","example":"\n    - 0: 原始数据\n    - 31: 保留一位小数\n    - 32: 保留两位小数\n    - 33: 保留三位小数\n    - 34: 保留四位小数\n    - 35: 千分位\n    - 36: 带小数的千分位\n    - 37: 百分比\n    - 38: 带小数的百分比\n    - 50: 'YYYY/MM/DD/ HH:mm:ss'\n    - 51: 'YYYY/MM/DD'\n    - 52: 'YYYY/MM/DDHH:mm'\n    - 53: 'YYYY-MM-DD'\n    - 54: 'YYYY-MM-DDHH:mm'\n    - 55: 'MM-DD'\n    - 56: 'MM/DD/YYYY'\n    - 57: 'DD/MM/YYYY'\n    "},"dropDown":{"description":"下拉菜单选项","allOf":[{"$ref":"#/components/schemas/DropDownItemDto"}]},"fuzzySearch":{"type":"boolean","description":"是否支持模糊搜索:\n    - true: 支持模糊搜索\n    - false: 不支持模糊搜索\n    ","default":false},"forLogin":{"type":"boolean","description":"是否可用于登录，仅在 user 模块下有意义:\n    - true: 用于登录\n    - false: 不用于登录\n    ","default":false},"relationType":{"type":"string","description":"关联类型"},"relationMultiple":{"type":"boolean","description":"关联关系是否为 1-N:\n    - true: 是 1-N 的关系\n    - false: 不是 1-N 的关系\n    ","default":false},"relationShowKey":{"type":"string","description":"关联数据要展示的属性"},"relationOptionalRange":{"description":"关联数据可选范围","allOf":[{"$ref":"#/components/schemas/Condition"}]},"userVisible":{"type":"boolean","description":"用户中心是否显示，仅在 user 模块下有意义:\n    - true: 用户中心展示\n    - false: 用户中心不展示\n    ","default":false}},"required":["modelId","name","key","type","show","editable","help","default","require","unique","maxLength","max","min","regexp","format","dropDown","fuzzySearch","forLogin","relationType","relationMultiple","relationShowKey","relationOptionalRange","userVisible"]},"RelationOptionalRange":{"type":"object","properties":{"conjunction":{"type":"string","description":"多个搜索条件的关系：\n    - and: 且\n    - or:  或\n    "},"conditions":{"description":"搜索条件","allOf":[{"$ref":"#/components/schemas/Condition"}]}},"required":["conjunction","conditions"]},"FunctionModelFieldDto":{"type":"object","properties":{"id":{"type":"string","description":"字段 id"},"modelId":{"type":"string","description":"功能 id"},"name":{"type":"string","description":"字段名称"},"key":{"type":"string","description":"字段属性名"},"type":{"type":"number","description":"字段类型:\n    - 1: 单行文本\n    - 2: 多行文本\n    - 3: 数字\n    - 4: 布尔类型\n    - 5: 日期\n    - 6: 枚举\n    - 7: 关联类型\n    - 8: 反向关联数据展示\n    "},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - false: 不展示\n    "},"editable":{"type":"boolean","description":"是否可编辑:\n    - true: 可编辑\n    - false: 不可编辑\n    "},"help":{"type":"string","description":"帮助说明"},"default":{"type":"string","description":"默认值"},"require":{"type":"boolean","description":"是否必填:\n    - true: 必填\n    - false: 不必填\n    "},"unique":{"type":"boolean","description":"是否唯一:\n    - true: 唯一\n    - false: 不唯一\n    "},"maxLength":{"type":"number","description":"字符串长度限制"},"max":{"type":"number","description":"如果类型是数字表示数字上限，如果类型是日期表示结束日期"},"min":{"type":"number","description":"如果类型是数字表示数字下限，如果类型是日期表示开始日期"},"regexp":{"type":"string","description":"字符串的校验匹配规则"},"format":{"type":"number","description":"前端格式化显示规则:","example":"\n    - 0: 原始数据\n    - 31: 保留一位小数\n    - 32: 保留两位小数\n    - 33: 保留三位小数\n    - 34: 保留四位小数\n    - 35: 千分位\n    - 36: 带小数的千分位\n    - 37: 百分比\n    - 38: 带小数的百分比\n    - 50: 'YYYY/MM/DD/ HH:mm:ss'\n    - 51: 'YYYY/MM/DD'\n    - 52: 'YYYY/MM/DDHH:mm'\n    - 53: 'YYYY-MM-DD'\n    - 54: 'YYYY-MM-DDHH:mm'\n    - 55: 'MM-DD'\n    - 56: 'MM/DD/YYYY'\n    - 57: 'DD/MM/YYYY'\n    "},"dropDown":{"type":"number","description":"下拉菜单选项"},"relationType":{"type":"string","description":"关联数据要展示的属性"},"relationMultiple":{"type":"boolean","description":"关联关系是否为 1-N:\n    - true: 是 1-N 的关系\n    - false: 不是 1-N 的关系\n    "},"relationShowKey":{"type":"string","description":"关联数据要展示的属性"},"relationOptionalRange":{"description":"关联数据可选范围","allOf":[{"$ref":"#/components/schemas/RelationOptionalRange"}]},"userVisible":{"type":"boolean","description":"用户中心是否显示，仅在 user 模块下有意义:\n    - true: 用户中心展示\n    - false: 用户中心不展示\n    "}},"required":["id","modelId","name","key","type","show","editable","help","default","require","unique","maxLength","max","min","regexp","format","dropDown","relationType","relationMultiple","relationShowKey","relationOptionalRange","userVisible"]},"FunctionModelFieldResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/FunctionModelFieldDto"}]}},"required":["statusCode","message","data"]},"UpdateFunctionModelFieldDto":{"type":"object","properties":{"id":{"type":"string","description":"字段 id"},"modelId":{"type":"string","description":"功能 id"},"name":{"type":"string","description":"字段名称"},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - false: 不展示\n    "},"editable":{"type":"boolean","description":"是否可编辑:\n    - true: 可编辑\n    - false: 不可编辑\n    "},"help":{"type":"string","description":"帮助说明"},"default":{"type":"object","description":"默认值"},"require":{"type":"boolean","description":"是否必填:\n    - true: 必填\n    - false: 不必填\n    "},"unique":{"type":"boolean","description":"是否唯一:\n    - true: 唯一\n    - false: 不唯一\n    "},"maxLength":{"type":"number","description":"字符串长度限制"},"max":{"type":"number","description":"如果类型是数字表示数字上限，如果类型是日期表示结束日期"},"min":{"type":"number","description":"如果类型是数字表示数字下限，如果类型是日期表示开始日期"},"regexp":{"type":"string","description":"字符串的校验匹配规则"},"format":{"type":"number","description":"前端格式化规则","example":"\n    - 0: 原始数据\n    - 31: 保留一位小数\n    - 32: 保留两位小数\n    - 33: 保留三位小数\n    - 34: 保留四位小数\n    - 35: 千分位\n    - 36: 带小数的千分位\n    - 37: 百分比\n    - 38: 带小数的百分比\n    - 50: 'YYYY/MM/DD/ HH:mm:ss'\n    - 51: 'YYYY/MM/DD'\n    - 52: 'YYYY/MM/DDHH:mm'\n    - 53: 'YYYY-MM-DD'\n    - 54: 'YYYY-MM-DDHH:mm'\n    - 55: 'MM-DD'\n    - 56: 'MM/DD/YYYY'\n    - 57: 'DD/MM/YYYY'\n    "},"dropDown":{"description":"下拉菜单选项","type":"array","items":{"type":"string"}},"fuzzySearch":{"type":"boolean","description":"是否支持模糊搜索:\n    - true: 支持模糊搜索\n    - false: 不支持模糊搜索\n    ","default":false},"forLogin":{"type":"boolean","description":"是否可用于登录，仅在 user 模块下有意义:\n    - true: 用于登录\n    - false: 不用于登录\n    ","default":false},"relationShowKey":{"type":"string","description":"关联数据要展示的属性"},"relationOptionalRange":{"description":"关联数据可选范围","allOf":[{"$ref":"#/components/schemas/RelationOptionalRange"}]},"userVisible":{"type":"boolean","description":"用户中心是否显示，仅在 user 模块下有意义:\n    - true: 用户中心展示\n    - false: 用户中心不展示\n    ","default":false}},"required":["id","modelId","name","show","editable","help","default","require","unique","maxLength","max","min","regexp","format","dropDown","fuzzySearch","forLogin","relationShowKey","relationOptionalRange","userVisible"]},"FunctionModelFieldIdDto":{"type":"object","properties":{"id":{"type":"string","description":"功能字段 id"},"modelId":{"type":"string","description":"功能 id"}},"required":["id","modelId"]},"FunctionFieldListResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/FunctionModelFieldDto"}}},"required":["statusCode","message","data"]},"ExportModelDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"idList":{"description":"导出范围","type":"array","items":{"type":"string"}}},"required":["modelId","idList"]},"ImportModelDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"file":{"type":"string","description":"导入的 excel 文件地址"}},"required":["modelId","file"]},"GetImportTemplateResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。","example":20001},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/RowDto"}]}},"required":["statusCode","message","data"]},"CreateOperateModelDto":{"type":"object","properties":{"modelId":{"type":"string","description":"modelId"},"operateKey":{"type":"string","description":"操作类型:\n    - openPage: 打开一个网页\n    "},"operateName":{"type":"string","description":"操作名称"},"config":{"type":"object","description":"操作配置"},"icon":{"type":"string","description":"图标"},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - true: 不展示\n    "}},"required":["modelId","operateKey","operateName","config","icon","show"]},"FunctionModelOperateIdDto":{"type":"object","properties":{"id":{"type":"string","description":"自定义操作 id"},"modelId":{"type":"string","description":"功能 id"},"customConfig":{"type":"object","description":"执行时自定义参数"}},"required":["id","modelId","customConfig"]},"OperateModelDto":{"type":"object","properties":{"id":{"type":"string","description":"操作 id"},"userPoolId":{"type":"string","description":"用户池 id"},"modelId":{"type":"string","description":"功能 id"},"operateName":{"type":"string","description":"操作名称"},"operateKey":{"type":"string","description":"操作方法 key"},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - false: 不展示\n    "},"isDefault":{"type":"boolean","description":"是否为默认操作:\n    - true 是默认操作\n    - fasle 不是默认操作\n    "},"createdAt":{"type":"string","description":"创建时间"},"updatedAt":{"type":"string","description":"更新时间"}},"required":["id","userPoolId","modelId","operateName","operateKey","show","isDefault","createdAt","updatedAt"]},"UpdateOperateModelDto":{"type":"object","properties":{"id":{"type":"string","description":"id"},"modelId":{"type":"string","description":"modelId"},"show":{"type":"boolean","description":"是否展示:\n    - true: 展示\n    - true: 不展示\n    "},"operateKey":{"type":"string","description":"操作 Key 值"},"operateName":{"type":"string","description":"操作名称"},"config":{"type":"object","description":"操作配置"},"icon":{"type":"string","description":"图标"}},"required":["id","modelId","show","operateKey","operateName","config","icon"]},"GetRelationInfoDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"idList":{"description":"关联 id 列表","type":"array","items":{"type":"string"}}},"required":["modelId","idList"]},"CreateRelationValueDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"fieldId":{"type":"string","description":"字段 id"},"rowId":{"type":"string","description":"行 id"},"valueList":{"description":"关联数据","type":"array","items":{"type":"string"}}},"required":["modelId","fieldId","rowId","valueList"]},"RelationValueListDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"type":"string"}}},"required":["totalCount","list"]},"RelationValueListResDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/RelationValueListDto"}]}},"required":["statusCode","message","data"]},"RemoveRelationValueDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"},"rowId":{"type":"string","description":"行 id"},"fieldIds":{"description":"字段 id","type":"array","items":{"type":"string"}},"value":{"type":"string","description":"关联数据"}},"required":["modelId","rowId","fieldIds","value"]},"ExportMetadataDto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id"}},"required":["modelId"]},"ImportMetadataDto":{"type":"object","properties":{"file":{"type":"string","description":"导入的 json 文件地址"}},"required":["file"]},"CreateUEBADto":{"type":"object","properties":{"modelId":{"type":"string","description":"功能 id，如果不存在则会使用数据库中查到的第一个 type 为 ueba 的功能"},"data":{"type":"object","description":"数据内容","example":{"appId":"xxxxx","timestamp":1680241048891,"ip":"183.95.62.38","ua":"Mozilla/5.0 (iPad; CPU OS 13_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/87.0.4280.77 Mobile/15E148 Safari/604.1 Edg/111.0.0.0","originalIdentity":"123456789","behaviorType":"login","actionType":"Read","loginType":"wechat","someKey":"这是自定义的"}}},"required":["data"]},"CreateUEBARespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"type":"object","description":"响应数据"}},"required":["statusCode","message","data"]},"PostItemDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"},"name":{"type":"string","description":"分组名称","example":"研发"},"description":{"type":"string","description":"分组描述","example":"描述内容"},"userCount":{"type":"number","description":"岗位关联用户数，只有在 skipCount 不为 true 时才存在"},"departmentCount":{"type":"number","description":"岗位关联部门数，只有在 skipCount 不为 true 时才存在"},"metadataSource":{"description":"岗位元数据信息","type":"array","items":{"type":"string"}}},"required":["code","name","userCount","departmentCount","metadataSource"]},"PostPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/PostItemDto"}}},"required":["totalCount","list"]},"PostPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PostPagingDto"}]}},"required":["statusCode","message","data"]},"CreatePostDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"},"name":{"type":"string","description":"分组名称","example":"研发"},"description":{"type":"string","description":"分组描述","example":"描述内容"},"departmentIdList":{"type":"string","description":"部门 id 列表","example":["xxx"]}},"required":["code","name"]},"PostDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"},"name":{"type":"string","description":"分组名称","example":"研发"},"description":{"type":"string","description":"分组描述","example":"描述内容"}},"required":["code","name"]},"PostListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/PostDto"}}},"required":["statusCode","message","data"]},"GetPostByIdListDto":{"type":"object","properties":{"idList":{"type":"string","description":"部门 id 列表","example":["xxx"]},"withCustomData":{"type":"boolean","description":"是否获取自定义数据","example":false}}},"PostRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PostDto"}]}},"required":["statusCode","message","data"]},"PostInfoDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"},"name":{"type":"string","description":"分组名称","example":"研发"},"description":{"type":"string","description":"分组描述","example":"描述内容"},"departmentIdList":{"description":"岗位关联部门数","type":"array","items":{"type":"string"}}},"required":["code","name","departmentIdList"]},"CreatePostRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PostInfoDto"}]}},"required":["statusCode","message","data"]},"RemovePostDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"}},"required":["code"]},"SetUserPostsDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户 id","example":"xxxx"},"postIds":{"description":"岗位 id 列表","example":"xxxx","type":"array","items":{"type":"string"}}},"required":["userId","postIds"]},"UserConnectionPostDto":{"type":"object","properties":{"postId":{"type":"string","description":"部门 id","example":"xxxx"},"userId":{"type":"string","description":"用户 id","example":"xxxx"}},"required":["postId","userId"]},"CreateTerminalDto":{"type":"object","properties":{"deviceUniqueId":{"type":"string","description":"设备唯一标识","example":"HZ2F6J3AGNAVSOTV"},"name":{"type":"string","description":"设备名称","example":"打印机"},"version":{"type":"string","description":"系统版本","example":"Android 1.0"},"hks":{"type":"string","description":"硬件存储秘钥","example":"lajldjaksjl"},"fde":{"type":"string","description":"磁盘加密","example":""},"hor":{"type":"boolean","description":"硬件越狱","default":false},"sn":{"type":"string","description":"设备序列号","example":"NHHYASKDJKJHKJHSD"},"type":{"type":"string","description":"设备类型","enum":["Browser","Mobile","Desktop"],"example":"Mobile"},"producer":{"type":"string","description":"制造商","example":"索尼"},"mod":{"type":"string","description":"设备模组","example":"Vig9a"},"os":{"type":"string","description":"设备系统","example":"iOS"},"imei":{"type":"string","description":"国际识别码","example":""},"meid":{"type":"string","description":"设备识别码","example":""},"description":{"type":"string","description":"设备描述","example":"这是公共设备"},"language":{"type":"string","description":"设备语言","example":"zh-CN"},"cookie":{"type":"boolean","description":"是否开启 Cookies","example":false,"default":false},"userAgent":{"type":"string","description":"用户代理","example":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"},"customData":{"type":"object","description":"自定义数据, 自定义数据的属性对应在元数据里自定义的字段"}},"required":["deviceUniqueId","type","customData"]},"TerminalInfoDto":{"type":"object","properties":{"id":{"type":"string","description":"主键 ID","example":"63688212be59d76a46f72663"},"deviceUniqueId":{"type":"string","description":"设备唯一标识","example":"HZ2F6J3AGNAVSOTV"}},"required":["id","deviceUniqueId"]},"TerminalInfoRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/TerminalInfoDto"}]}},"required":["statusCode","message","data"]},"QueryTerminalAppsDto":{"type":"object","properties":{"deviceIds":{"description":"设备唯一标识列表","type":"array","items":{"type":"string"}},"userId":{"type":"string","description":"用户 ID"}},"required":["deviceIds"]},"DeleteTerminalUserDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"},"userId":{"type":"string","description":"用户 ID"}},"required":["id","userId"]},"SuspendTerminalUserDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"},"userId":{"type":"string","description":"用户 ID"},"endTime":{"format":"date-time","type":"string","description":"挂起到期时间，时间戳(毫秒)","example":1672502400000}},"required":["id","userId","endTime"]},"UpdateTerminalUserDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"},"userId":{"type":"string","description":"用户 ID"}},"required":["id","userId"]},"TerminalBaseDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"}},"required":["id"]},"DeviceStatusResponseDataDto":{"type":"object","properties":{"status":{"type":"string","description":"设备状态:\n- `activated`: 使用中\n- `suspended`: 挂起\n- `deactivated`: 停用\n  ","enum":["activated","suspended","deactivated"],"example":"activated"},"diffTime":{"type":"number","description":"设备挂起时的剩余秒数"}},"required":["status"]},"DeviceStatusRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/DeviceStatusResponseDataDto"}]}},"required":["statusCode","message"]},"DeleteTerminalDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"}},"required":["id"]},"SuspendTerminalDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"},"endTime":{"type":"number","description":"挂起到期时间，时间戳(毫秒)","example":1672502400000}},"required":["id","endTime"]},"UpdateTerminalDto":{"type":"object","properties":{"id":{"type":"string","description":"数据行 id，创建设备时返回的 `id`"}},"required":["id"]},"ListPublicAccountsAdvancedFilterItemDto":{"type":"object","properties":{"field":{"type":"string","description":"高级搜索指定的公共账号字段：\n- `id`: 公共账号 ID\n- `phone`: 手机号   \n- `email`: 邮箱\n- `username`: 用户名\n- `externalId`: 公共账号在外部系统的 ID\n- `name`: 姓名\n- `status`: 公共账号状态，可选值为 `Activated` 和 `Suspended`\n- `gender`: 公共账号性别，可选值为 `M`（男性）、`F`（女性） 和 `U`（未知）\n- `birthdate`: 出生日期\n- `givenName`: 名\n- `familyName`: 姓\n- `preferredUsername`: Preferred Username\n- `profile`: 个人资料\n- `country`: 国家\n- `province`: 省份\n- `zoneinfo`: 时区\n- `website`: 个人网站\n- `address`: 地址\n- `streetAddress`: 街道地址\n- `company`: 公司\n- `postalCode`: 邮政编码\n- `formatted`: 格式化的地址\n- `signedUp`: 注册时间\n- `locale`: 语言信息\n- `lastLogin`: 上次登录时间，为时间戳类型\n- `loginsCount`: 登录次数，为数字类型\n- `lastLoginApp`: 上次登录的应用 ID\n- `userSource`: 公共账号来源，具体使用见示例\n- `department`: 公共账号部门，具体使用见示例\n- `loggedInApps`: 曾经登录过的应用，具体使用见示例\n- ... 其他自定义字段\n","example":"nickname"},"operator":{"type":"string","description":"运算符，可选值为：\n- `EQUAL`: 全等，适用于数字和字符串的全等匹配\n- `NOT_EQUAL`: 不等于，适用于数字和字符串的匹配\n- `CONTAINS`: 字符串包含\n- `NOT_CONTAINS`: 字符串不包含\n- `IS_NULL`: 为空\n- `NOT_NULL`: 不为空\n- `IN`: 为某个数组中的元素\n- `GREATER`: 大于或等于，适用于数字、日期类型数据的比较\n- `LESSER`: 小于或等于，适用于数字、日期类型数据的比较\n- `BETWEEN`: 介于什么什么之间，适用于数字、日期类型数据的比较\n    ","enum":["EQUAL","NOT_EQUAL","CONTAINS","NOT_CONTAINS","IS_NULL","NOT_NULL","IN","GREATER","LESSER","BETWEEN"],"example":"EQUAL"},"value":{"type":"object","description":"搜索值，不同的 `field` 对应的 `value` 类型可能不一样，详情见示例。","example":"test"}},"required":["field","operator"]},"PaginationDto":{"type":"object","properties":{"page":{"type":"number","description":"当前页数，从 1 开始","default":1,"example":1},"limit":{"type":"number","description":"每页数目，最大不能超过 50，默认为 10","default":10,"example":10,"minimum":1,"maximum":50}}},"SortingDto":{"type":"object","properties":{"field":{"type":"string","description":"进行排序的字段，可选值为：\n- `createdAt`: 创建时间\n- `updatedAt`: 修改时间\n- `email`: 邮箱\n- `phone`: 手机号\n- `username`: 用户名\n- `externalId`: 外部 ID\n- `status`: 公共账号状态\n- `statusChangedAt`: 状态修改时间\n- `passwordLastSetAt`: 密码修改时间\n- `loginsCount`: 登录次数\n- `gender`: 性别\n- `lastLogin`: 上次登录时间\n- `userSourceType`: 公共账号注册来源\n- `lastMfaTime`: 上次 MFA 认证时间\n- `passwordSecurityLevel`: 密码安全等级\n- `phoneCountryCode`: 手机区号\n- `lastIp`: 上次登录时使用的 IP\n","example":"loginsCount","enum":["createdAt","updatedAt","email","username","externalId","phone","status","statusChangedAt","passwordLastSetAt","loginsCount","gender","lastLogin","userSourceType","lastMfaTime","passwordSecurityLevel","phoneCountryCode","lastIp"]},"order":{"type":"string","description":"排序顺序：\n- `desc`: 按照从大到小降序。\n- `asc`: 按照从小到大升序。\n    ","enum":["desc","asc"],"example":"desc"}},"required":["field","order"]},"ListPublicAccountsOptionsDto":{"type":"object","properties":{"pagination":{"description":"分页配置","example":{"page":1,"limit":10},"allOf":[{"$ref":"#/components/schemas/PaginationDto"}]},"sort":{"description":"排序设置，可以设置多项按照多个字段进行排序","example":[{"field":"createdAt","direction":"desc"},{"field":"loginsCount","direction":"desc"}],"type":"array","items":{"$ref":"#/components/schemas/SortingDto"}},"fuzzySearchOn":{"type":"array","description":"模糊搜索匹配的公共账号字段，可选值为：\n- `phone`: 公共账号手机号，不能包含手机号区号，默认包含\n- `email`: 公共账号邮箱，默认包含\n- `name`: 公共账号名称，默认包含\n- `username`: 用户名，默认包含\n- `nickname`: 公共账号昵称，默认包含\n- `id`: 公共账号 ID\n- `company`: 公司\n- `givenName`: 名\n- `familyName`: 姓\n- `middleName`: 中间名\n- `preferredUsername`: Preferred Username\n- `profile`: 个人资料\n- `website`: 个人网站\n- `address`: 地址\n- `formatted`: 格式化地址\n- `streetAddress`: 街道地址\n- `postalCode`: 邮编号码\n","default":["phone","email","name","username","nickname","identityNumber"],"items":{"type":"string","enum":["id","phone","email","name","username","externalId","nickname","company","givenName","familyName","middleName","profile","preferredUsername","website","address","formatted","streetAddress","postalCode","identityNumber"]}},"withCustomData":{"type":"boolean","description":"是否获取自定义数据","default":false,"example":true},"withDepartmentIds":{"type":"boolean","description":"是否获取部门 ID 列表","default":false,"example":true}}},"ListPublicAccountsRequestDto":{"type":"object","properties":{"keywords":{"type":"string","description":"模糊搜索关键字","example":"张三"},"advancedFilter":{"description":"高级搜索","example":[{"field":"status","operator":"EQUAL","value":"Activated"}],"type":"array","items":{"$ref":"#/components/schemas/ListPublicAccountsAdvancedFilterItemDto"}},"searchQuery":{"type":"object","description":"使用 ES 查询语句执行搜索命令","example":{"query":{"bool":{"must":[{"term":{"phone":"18818888888"}}],"must_not":[]}},"sort":["_score",{"created_at":"ASC"}]}},"options":{"description":"可选项","example":{"pagination":{"page":1,"limit":10},"fuzzySearchOn":["phone","email","name","username","nickname","identityNumber"],"withCustomData":true,"withDepartmentIds":true},"allOf":[{"$ref":"#/components/schemas/ListPublicAccountsOptionsDto"}]}}},"PublicAccountDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户的唯一标志，可以是用户 ID、用户名、邮箱、手机号、externalId、在外部身份源的 ID，详情见 userIdType 字段的说明。默认为用户 id 。","example":"6229ffaxxxxxxxxcade3e3d9"},"createdAt":{"format":"date-time","type":"string","description":"创建时间","example":"2022-07-03T02:20:30.000Z"},"updatedAt":{"format":"date-time","type":"string","description":"更新时间","example":"2022-07-03T02:20:30.000Z"},"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated"},"workStatus":{"type":"string","description":"账户当前工作状态","enum":["Closed","Active"],"example":"Active"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"loginsCount":{"type":"number","description":"历史总登录次数","example":3},"lastLogin":{"format":"date-time","type":"string","description":"上次登录时间","example":"2022-07-03T02:20:30.000Z"},"lastIp":{"type":"string","description":"上次登录 IP","example":"127.0.0.1"},"gender":{"type":"string","description":"性别:\n- `M`: 男性，`male`\n- `F`: 女性，`female`\n- `U`: 未知，`unknown`\n  ","enum":["M","F","U"],"example":"M"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"passwordLastSetAt":{"format":"date-time","type":"string","description":"用户上次密码修改时间","example":"2022-07-03T02:20:30.000Z"},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":"James"},"profile":{"type":"string","description":"Preferred Username","example":"alice"},"preferredUsername":{"type":"string","description":"Preferred Username","example":"alice"},"website":{"type":"string","description":"用户个人网页","example":"https://my-website.com"},"zoneinfo":{"type":"string","description":"用户时区信息","example":"GMT-08:00"},"locale":{"type":"string","description":"Locale","example":"af"},"formatted":{"type":"string","description":"标准的完整地址","example":"132, My Street, Kingston, New York 12401."},"region":{"type":"string","description":"用户所在区域","example":"Xinjiang Uyghur Autonomous Region"},"userSourceType":{"type":"string","description":"来源类型:\n- `excel`: 通过 excel 导入\n- `register`: 用户自主注册\n- `adminCreated`: 管理员后台手动创建（包含使用管理 API 创建用户 ）\n- `syncTask`: 同步中心的同步任务  \n","enum":["excel","register","adminCreated","sync"],"example":"register"},"userSourceId":{"type":"string","description":"应用 ID 或者同步任务 ID","example":""},"lastLoginApp":{"type":"string","description":"用户上次登录的应用 ID","example":""},"mainDepartmentId":{"type":"string","description":"用户主部门 ID","example":""},"lastMfaTime":{"format":"date-time","type":"string","description":"用户上次进行 MFA 认证的时间","example":""},"passwordSecurityLevel":{"type":"number","description":"用户密码安全强度等级","example":1},"resetPasswordOnNextLogin":{"type":"boolean","description":"下次登录要求重置密码","default":false},"registerSource":{"description":"注册方式","type":"array","items":{"type":"string"}},"departmentIds":{"description":"公共账号所属部门 ID 列表","example":["624d930c3xxxx5c08dd4986e","624d93102xxxx012f33cd2fe"],"type":"array","items":{"type":"string"}},"identityNumber":{"type":"string","description":"用户身份证号码","example":"420421xxxxxxxx1234"},"customData":{"type":"object","description":"公共账号的扩展字段数据","example":{"school":"北京大学","age":22}},"statusChangedAt":{"format":"date-time","type":"string","description":"公共账号状态上次修改时间","example":"2022-07-03T02:20:30.000Z"},"tenantId":{"type":"string","description":"用户租户 ID","example":""}},"required":["userId","createdAt","updatedAt","status","workStatus","gender","emailVerified","phoneVerified","userSourceType"]},"PublicAccountPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"数据列表","type":"array","items":{"$ref":"#/components/schemas/PublicAccountDto"}}},"required":["totalCount","list"]},"PublicAccountPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PublicAccountPagingDto"}]}},"required":["statusCode","message","data"]},"PublicAccountSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PublicAccountDto"}]}},"required":["statusCode","message","data"]},"PublicAccountListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。详情可以查看开发准备中的 apiCode 细分说明"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"公共账号列表","type":"array","items":{"$ref":"#/components/schemas/PublicAccountDto"}}},"required":["statusCode","message","data"]},"CreatePublicAccountOtpDto":{"type":"object","properties":{"secret":{"type":"string","description":"OTP 密钥","example":"HZ2F6J3AGNAVSOTV"},"recoveryCode":{"type":"string","description":"OTP Recovery Code","example":"b471-8ec0-874a-087f-bccb-cd54"}},"required":["secret"]},"SendCreateAccountNotificationDto":{"type":"object","properties":{"sendEmailNotification":{"type":"boolean","description":"创建账号之后，是否发送邮件通知","default":false,"example":false},"sendPhoneNotification":{"type":"boolean","description":"创建账号之后，是否发送短信通知","default":false,"example":false},"appId":{"type":"string","description":"发送登录地址时，指定的应用 id，会将此应用的登录地址发送给用户的邮箱或者手机号。默认为用户池应用面板的登录地址。","example":"appid1"}}},"CreatePublicAccountOptionsDto":{"type":"object","properties":{"keepPassword":{"type":"boolean","description":"该参数一般在迁移旧有用户数据到 Authing 的时候会设置。开启这个开关，password 字段会直接写入 Authing 数据库，Authing 不会再次加密此字段。如果你的密码不是明文存储，你应该保持开启，并编写密码函数计算。","default":false},"autoGeneratePassword":{"type":"boolean","description":"是否自动生成密码","default":false},"resetPasswordOnFirstLogin":{"type":"boolean","description":"是否强制要求用户在第一次的时候重置密码","default":false},"departmentIdType":{"type":"string","description":"此次调用中使用的父部门 ID 的类型","example":"department_id","enum":["department_id","open_department_id","sync_relation","custom_field","code"],"default":"department_id"},"sendNotification":{"description":"重置密码发送邮件和手机号选项","example":{"sendEmailNotification":true,"sendPhoneNotification":true},"allOf":[{"$ref":"#/components/schemas/SendCreateAccountNotificationDto"}]},"passwordEncryptType":{"type":"string","description":"密码加密类型，支持使用 RSA256 和国密 SM2 算法进行加密。默认为 `none` 不加密。\n- `none`: 不对密码进行加密，使用明文进行传输。\n- `rsa`: 使用 RSA256 算法对密码进行加密，需要使用 Authing 服务的 RSA 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 RSA256 公钥。\n- `sm2`: 使用 [国密 SM2 算法](https://baike.baidu.com/item/SM2/15081831) 对密码进行加密，需要使用 Authing 服务的 SM2 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 SM2 公钥。\n  ","enum":["sm2","rsa","none"],"example":"none","default":"none"}}},"CreatePublicAccountReqDto":{"type":"object","properties":{"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated","default":"Activated"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"gender":{"type":"string","description":"性别","enum":["M","F","U"],"example":"M","default":"U"},"emailVerified":{"type":
[...]
