{"openapi":"3.0.0","info":{"title":"Authing Management API","description":"\n\n[Authing](https://authing.co/) 是一款国内领先的、基于云原生架构的 IDaaS 产品，兼容 OAuth 2.0, OIDC, SAML, AD/LDAP, WS-Fed 等所有主流认证 / 授权协议，可以帮助你快速实现任何 Web、App 和企业软件的身份认证和用户管理，为你的客户和员工提供安全且完善的登录解决方案。\n\n<img src=\"https://files.authing.co/api-explorer/what-is-authing.png\" alt=\"drawing\"/>  \n","version":3,"contact":{},"x-logo":{"url":"https://files.authing.co/authing-logo.png","href":"https://authing.co","altText":"Authing Website"},"x-servers":[{"url":"https://api.authing.cn","description":"你的应用域名"}],"x-meta":{"title":"Authing Management API (v3)","description":"Authing 是一款国内领先的、基于云原生架构的 IDaaS 产品，兼容 OAuth 2.0、OIDC、SAML、AD/LDAP、WS-Fed 等所有主流认证 / 授权协议，可以帮助你快速实现任何 Web、App 和企业软件的身份认证和用户管理，为你的客户和员工提供安全且完善的登录解决方案。","keywords":"Documentation, Authing, IDaaS, OIDC, OAuth, 微信, 社会化登录","image":"https://authing.co/favicon.ico"}},"tags":[{"name":"开发准备/介绍","description":"此文档为 Authing 管理 API 文档，适用版本为 Authing Management API (v3)。Authing 管理 API 指的是以管理员（Administrator）的身份进行请求，用于管理用户池资源和执行管理任务，如管理用户、组织机构、角色、应用、权限、用户池配置等。一般来说，你在 [Authing 控制台](https://console.authing.cn/)中能做的所有操作，都能用此模块完成。\n","x-displayName":"介绍"},{"name":"开发准备/基本概念","description":"在你正式进入开发前，需要先了解一下 Authing 几个最核心的概念。\n\n## 用户池\n\n**用户池**是 Authing 租户与租户之间的隔离单位，你拥有的所有用户数据、应用、资源等，都在一个**用户池**下。如果你还没有注册 Authing 账号，或者还未创建**用户池**，请先前往 [https://authing.co/](https://authing.co/) 创建你的第一个**用户池**。当你需要调用此部分的 API 时，你会需要用到**用户池 ID**和**用户池密钥**，在下面的**鉴权机制**中会讲到如何使用。\n\n## 应用\n\nAuthing 中的**应用**对应了你实际开发的应用，比如当你要基于 Authing 开发一个商城 APP 的时候，你在 Authing 的用户池中也会创建一个对应的应用。\n","x-displayName":"基本概念"},{"name":"开发准备/HTTP 请求","description":"## API 端点\n\nAuthing Management API (v3) Root 端点为：[https://api.authing.cn](#)。\n\n所有接口均通过 HTTPS 加密传输，如非特殊标记，请求参数和返回数据均通过 `application.json` 格式传递。\n\n> 如果是私有化部署的 Authing 服务，API 端点信息请联系你的客户经理获取。\n\n## HTTP 请求动词\n\nAuthing Management API (v3) 目前使用到了两种 HTTP 动词：\n\n| HTTP 请求动词 | 描述                       |\n| ------------- | -------------------------- |\n| GET           | 用于获取资源。             |\n| POST          | 用于创建、修改、删除资源。 |\n\n## HTTP 路径\n\nAuthing Management API (v3) 接口一般遵循 `/api/v3/verb` 的接口命名规范，`verb` 如果包含多个单词，使用 `-` 隔开，如：\n\n- 获取用户列表：`/api/v3/list-users`\n- 执行同步任务：`/api/v3/trigger-sync-task`\n\n## HTTP 请求头\n\n**调用 Authing Management API (v3) 时必须携带以下请求头**：\n\n| 请求头                      | 是否必填 | 含义 ​                                                                                                                                                                 |\n| --------------------------- | -------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| content-type                | 是       | 如接口未特殊说明，请填 `application/json`                                                                                                                              |\n| date                        | 是       | 客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)。 |\n| x-authing-signature-nonce   | 是       | 签名随机字符串，详情见[鉴权机制](#鉴权机制)。                                                                                                                          |\n| x-authing-signature-method  | 是       | 签名方式，目前仅支持 `HMAC-SHA1`，详情见[鉴权机制](#鉴权机制)。                                                                                                        |\n| x-authing-signature-version | 是       | 签名方式，目前为 `1.0`，详情见[鉴权机制](#鉴权机制)。                                                                                                                  |\n| authorization               | 是       | 使用 `Access Key ID` 和 `Access Key Secret` 对请求上下文的签名，详情见[鉴权机制](#鉴权机制)。                                                                          |\n\n## HTTP 重定向\n\n在某些情况下，Authing Management API (v3) 接口会返回一个 **HTTP 重定向** 的响应，重定向的内容将会放在 **Response Header** 的 `Location` 字段上。\n\n## HTTP 响应结构\n\n如非接口特殊声明，Authing Management API (v3) 的响应体格式如下：\n\n```json\n{\n  \"statusCode\": <STATUS_CODE>,\n  \"apiCode\": <API_CODE>, // 详细错误类型，当请求失败时会返回\n  \"message\": <ERROR_MESSAGE>, // 错误描述信息\n  \"requestId\": <REQUEST_ID>, // 错误请求 ID，当请求失败时会返回\n  \"data\": <RESPONSE_DATA>, // 具体响应数据\n}\n```\n\n`statusCode` 和 `apiCode` 的具体描述和错误处理方式见[错误处理](#tag/开发准备/错误处理)。\n","x-displayName":"HTTP 请求"},{"name":"开发准备/分页接口","description":"默认情况下，分页接口默认一页会返回 10 个元素，并且如果无特殊说明，每页最大值为 50 个，你可以通过 `page` 和 `limit` 参数指定对应的页码和每页包含的元素个数。示例：\n\n```bash\ncurl 'https://<YOUR_DOMAIN>.authing.cn/api/v3/list-users?page=2&limit=50'\n```\n","x-displayName":"分页接口"},{"name":"开发准备/鉴权机制","description":"Authing Management API (v3) 使用的是 AK/SK 本地对请求数据的摘要进行签名的鉴权机制，客户端在调用 API 时，需要使用 SK 对请求数据的摘要进行签名计算，并将签名结果传输给服务器端进行签名验证。\n\n## 为什么使用 AK/SK 签名的方式\n\nAuthing Management API (v3) 使用 AK/SK 本地签名的鉴权机制，主要从以下几点安全性进行考虑：\n\n1. 验证客户端的合法性\n2. 防止请求数据在网络传输过程中被篡改\n3. 在请求数据中加入时间戳元素，防止[重放攻击](https://zh.wikipedia.org/wiki/%E9%87%8D%E6%94%BE%E6%94%BB%E5%87%BB)\n\n## 如何查看我的 AK/SK\n\n在 Authing 中，目前有两种类型的 AK/SK：\n\n- 用户池全局 AK/SK：具备用户池内所有资源的全局操作权限。你可以在 [Authing 控制台](https://console.authing.cn) 的**设置** - **基础设置** - **密钥管理** 获取到**用户池 ID** 和**用户池密钥**，其中**用户池 ID**为 AK（Access Key ID）,**用户池密钥**为 SK（Access Key Secret）。\n- 协作管理员 AK/SK：可针对用户池内的资源进行细粒度授权，协作管理员的 AK/SK 只能调用其被授权的 API。\n\n## 摘要签名机制原理说明\n\n拿到了你的 AK/SK 之后，下面我们来看如何使用 AK/SK 对一次 API 请求进行签名。\n\n### 将请求数据生成摘要\n\n假设在不考虑任何签名机制的情况下，我们有一个原始的获取用户列表的请求，如下所示：\n\n```\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json' \\\n  --header 'some-other-header: some-random-value' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\nHTTP 请求数据如下：\n\n- 请求方式：`POST`；\n- 请求 API URL：`/api/v3/list-users`，不带域名和 Query 参数；\n- 请求头：携带了两个请求头 `content-type: application/json;charset=utf-8` 和 `some-other-header: some-random-value`；\n- 请求体：在请求体中传递了一个对象。\n\n在此基础上添加上 Authing API 签名要求的必要**请求头**：\n\n- `date` 请求头：客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)；\n- `x-authing-signature-nonce`: 签名随机字符串；\n- `x-authing-signature-method`: 签名算法，目前仅支持 `HMAC-SHA1`；\n- `x-authing-signature-version`: 签名算法版本，目前为 `1.0`。\n\n```text{1-10}\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json;charset=utf-8' \\\n  --header 'some-other-header: some-random-value' \\\n  --header 'date: Sun, 09 Oct 2022 06:14:00 GMT'' \\\n  --header 'x-authing-signature-nonce: f02a938cdbcf1b1f10bf14887eda6659' \\\n  --header 'x-authing-signature-method: HMAC-SHA1' \\\n  --header 'x-authing-signature-version: 1.0' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\n在此之后，我们将上述的请求数据转换成下面这种格式的字符串：\n\n```\nHTTP-Verb\nContent-Type\nDate\nCanonicalizedAuthingHeaders\nCanonicalizedResource\n```\n\n其中每一项的释义如下：\n\n- `HTTP-Verb`: HTTP 请求动词，在这个例子里，为 `POST`；\n- `Content-Type`: HTTP 请求数据格式，在这个例子里，为 `application/json;charset=utf-8`\n- `Date`: 客户端请求时刻的时间，为标准 GMT 格式，如 `Wed, 21 Oct 2015 07:28:00 GMT`，详情见 [Http date header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)；在这个例子里，为 `Sun, 09 Oct 2022 06:14:00 GMT`；\n- `CanonicalizedAuthingHeaders`: 经过规范化处理的 Authing 相关请求头，下面会介绍如何拼接；\n- `CanonicalizedResource`: 经过规范化处理的 API 资源，下面会介绍如何拼接；\n\n于是我们得到：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nCanonicalizedAuthingHeaders\nCanonicalizedResource\n```\n\n下面我们再分别介绍 CanonicalizedAuthingHeaders 和 CanonicalizedResource 的构建过程。\n\n#### 构建 CanonicalizedAuthingHeaders 参数\n\nCanonicalizedAuthingHeaders 的构建过程如下：\n\n1. 只需包含以 `x-authing-` 开头的请求头。\n2. 需要将每个 HTTP 标头名称转换为小写。例如，将 `X-Authing-Signature-Method` 转换为 `x-authing-signature-method`。\n3. 需要根据请求头名称按**字典顺序**进行排序。例如，`x-authing-signature-method` 应该在 `x-authing-signature-nonce` 之前。\n4. 每个请求头按照 `key=value` 的格式进行拼接，`key` 和 `value` 之间不应该包含空格。\n5. 不同的请求头之间通过换行符号（`\\n`）分隔。\n\n于是得到如下结果：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nx-authing-signature-method:HMAC-SHA1\nx-authing-signature-nonce:11223344\nx-authing-signature-version:1.0\nCanonicalizedResource\n```\n\n#### 构建 CanonicalizedResource 参数\n\nCanonicalizedResource 的构建过程如下：\n\n1. 不管是 `GET` 请求还是 `POST` 请求，格式需遵循 `<API_URL>?<API_DATA>`，中间使用 `?` 分隔。\n2. `<API_URL>` 部分不应该包含域名和 Query 和 Query 参数。例如：`https://api.authing.cn/api/v3/list-users?a=b` 这个请求，只保留 `/api/v3/list-users` 部分。\n3. `<API_DATA>` 部分规则如下：\n\n- 如果是 `GET` 请求，使用 Query 中的查询参数作为 `<API_DATA>` 需要的数据；\n- 如果是 `POST` 请求，使用 Body 中的请求体作为 `<API_DATA>` 需要的数据。\n\n遍历`<API_DATA>` 需要的数据的每一个 key，将此 key 和这个 key 对应的 value 按照 `key=value` 的方式进行拼接（如果 value 为字符串、数字、布尔值等原始值，无需做额外处理；如果 value 是一个对象，需要先转换成 JSON 字符串再[编吗为 URL 格式](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI)）。不同的 key/value 对之间使用 `&` 符号进行连接。\n\n于是我们再得到如下结果：\n\n```\nPOST\napplication/json;charset=utf-8\nWed, 21 Oct 2015 07:28:00 GMT\nx-authing-signature-method:HMAC-SHA1\nx-authing-signature-nonce:11223344\nx-authing-signature-version:1.0\n/api/v3/list-users?options=%7B%22pagination%22:%7B%22page%22:1,%22limit%22:10%7D%7D\n```\n\n下文中我们会将这个最终得到的字符串叫做 `stringToSign`。\n\n### 将生成的摘要使用 SK 计算签名\n\nAuthing API 的签名鉴权机制使用 `HMAC-SHA1` 算法，并生成 `base64` 格式的摘要。\n\n以 `Node.js` 代码为例：\n\n```js\nexport function buildSignature(accessKeySecret: string, stringToSign: string) {\n  return crypto\n    .createHmac('sha1', accessKeySecret)\n    .update(Buffer.from(stringToSign, 'utf8'))\n    .digest('base64');\n}\n```\n\n于是我们再得到类似下面的结果：\n\n```\nPFboTzV5F7WjU4yKCFmcRDTZ6tk=\n```\n\n### 根据 AK/SK + 签名构建 Authorization 请求头\n\n得到了签名之后，我们按照如下格式拼接 `Authorization` 请求头的内容：\n\n```\nauthing <accessKeyId>:<signature>\n```\n\n于是我们得到最终的结果：\n\n```\nauthing 62eaa95ffxxxxee52ae6b90c:PFboTzV5F7WjU4yKCFmcRDTZ6tk=\n```\n\n我们需要将其放到 `Authorization` 中并传输给 Authing 服务器。\n\n### 发出最终请求\n\n```text{1-10}\ncurl --request POST \\\n  --url https://api.authing.cn/api/v3/list-users \\\n  --header 'content-type: application/json;charset=utf-8' \\\n  --header 'some-other-header: some-random-value' \\\n  --header 'date: Sun, 09 Oct 2022 06:14:00 GMT'' \\\n  --header 'x-authing-signature-nonce: f02a938cdbcf1b1f10bf14887eda6659' \\\n  --header 'x-authing-signature-method: HMAC-SHA1' \\\n  --header 'x-authing-signature-version: 1.0' \\\n  --header 'authorization: authing 62eaa95ffxxxxee52ae6b90c:PFboTzV5F7WjU4yKCFmcRDTZ6tk=' \\\n  --data '{\n  \"options\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"limit\": 10\n    }\n  }\n}'\n```\n\n## 摘要算法示例代码\n\n你可以在此查看不同语言的摘要示例代码。\n\n## 使用 SDK 请求 API\n\n我们为开发中提供了不同语言的 SDK，SDK 内置了相关签名逻辑，使得你需要过多考虑这些\n","x-displayName":"鉴权机制"},{"name":"开发准备/密码安全传输","description":"## HTTPS 加密传输\n\nAuthing 所有 API 均通过 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 `RSA256` 和[国密 SM2](https://baike.baidu.com/item/SM2/15081831) 两种方式对密码进行加密。\n\n## RSA256\n\nAuthing 支持使用 RSA256 非对称加密方式对密码进行安全传输，你需要使用 Authing 的 RSA 公钥对密码进行加密，发送到 Authing 服务器后端之后，Authing 服务器会使用私钥进行解密。\n\nAuthing 的 RSA 公钥如下，你也可以通过此[端点](#tag/其他/公开信息端点/operation/PublicAPIV3Controller_getSystemInfo)拉取：\n\n```\n{{RSA_PUBLIC_KEY}}\n```\n\n> 如果是私有化部署的 Authing 服务，RSA 256 公钥端点信息请联系你的客户经理获取。\n\n你可以参考此 Demo，其包含了使用 RSA256 加密密码的示例：[https://github.com/Authing/password-encryption](https://github.com/Authing/password-encryption)。\n\n如果你只是简单调试，可以使用[此在线调试工具](http://www.metools.info/code/c81.html)使用上面的公钥对密码进行加密。\n\n## 国密 SM2\n\nAuthing 支持使用国密 SM2 密方式对密码进行安全传输，你需要使用 Authing 的 SM2 公钥对密码进行加密，发送到 Authing 服务器后端之后，Authing 服务器会使用私钥进行解密。\n\nAuthing 的 SM2 公钥如下，你也可以通过此[端点](#tag/其他/公开信息端点/operation/PublicAPIV3Controller_getSystemInfo)拉取：\n\n```\n{{SM2_PUBLIC_KEY}}\n```\n\n> 如果是私有化部署的 Authing 服务，SM2 公钥端点信息请联系你的客户经理获取。\n\n你可以参考此 Demo，其包含了使用 SM2 加密密码的示例：[https://github.com/Authing/password-encryption](https://github.com/Authing/password-encryption)。\n\n如果你只是简单调试，可以使用[此在线调试工具](http://www.lzltool.com/SM2)使用上面的公钥对密码进行加密。\n","x-displayName":"密码安全传输"},{"name":"开发准备/接口限流","description":"针对免费账户，Authing 默认的接口限流频率为 300 QPS / 用户池。如果触发了我们的 QPS 限制，你将收到以下错误提示：HTTP code 为 `429`，响应体为：\n\n```json\n{\n  \"statusCode\": 429,\n  \"message\": \"您的请求已超过最大数量限制，请稍后重试\"\n}\n```\n\n> 如果你触发了接口限流阈值，请升级套餐并联系 Authing 客服申请更大的 QPS 限制。\n","x-displayName":"接口限流"},{"name":"开发准备/服务器 IP","description":"当你进行配置自定义数据库、接收 Webhook 通知等操作时，你可能需要获取 Authing 服务的对外 IP，并修改防火墙配置。Authing 服务的对外 IP 可以通过[此端点](<(/api/v3/system)>)获取。\n","x-displayName":"服务器 IP"},{"name":"开发准备/错误处理","description":"Authing Management API (v3) 采取了和标准 RESTFul API 不完全一致的错误处理方案，如果没有特殊说明，\n所有接口返回的 HTTP 状态码均为 `200`。一个 HTTP 状态码为 `200` 的响应，不能视为操作成功，你需要通过相应体的具体内容进行判断。\n\nAuthing Management API (v3) 接口响应体中，包含了两个状态码：`statusCode` 和 `apiCode`：\n\n- `statusCode`: `statusCode` 为请求状态码，不包含具体的业务错误信息。**当且仅当 `statusCode` 为 `200` 时，表示接口请求成功**，此时不会带有 `apiCode`。`statusCode` 不为 `200` 的情况下，\n  表示接口请求失败或者需要进行额外操作（比如登录接口需要进行 MFA 二次验证），你需要对此进行关注，进行必要的错误处理。每个 `statusCode` 对应一个类型的错误，\n  具体的错误分类请见下文。在大多数情况下，除非你需要对某些特定的异常做出响应，否则你只需要关注 `statusCode`，不需要关注 `apiCode`。\n- `apiCode`: `apiCode` 为业务状态码，每个 `apiCode` 具备特定的错误含义，具体的 `apiCode` 列表见下文。`apiCode` 只会在 `statusCode` 非 200 且错误原因具备业务含义时才会返回。\n\n## statusCode\n\n- [200] OK\n- [4xx] 客户端异常\n  - [400]InvalidArgumentError：请求参数格式错误\n  - [401]UnauthorizedError：用户未登录\n  - [402]PaymentNeededError：此接口需要升级套餐之后使用\n  - [403]ForbiddenError：没有权限执行某操作\n  - [404]NotFoundError：找不到资源\n  - [409]ConflictError：要创建的资源和已有资源存在字段冲突\n  - [413]PayloadTooLargeError：请求体过大\n  - [422]InvalidOperationError：非法操作（参数格式正确，但不符合业务限制）\n  - [429]ThrottleError：触发限流机制\n  - [499]ClientError：通用客户端异常\n- [5xx] 服务器端异常\n  - [500]ServerError：通用服务端异常\n  - [501]UnsupportedOperationError：服务器不支持的操作\n  - [502]BadGatewayError：微服务调用出错\n  - [503]ServiceUnavailableError：维护中\n- [6xx] 第三方服务调用异常\n  - [601]EndpointRequestError：请求第三方端点失败\n  - [602]EndpointResponseError：第三方端点返回了错误\n  - [603]CustomCodeError：自定义代码出错，例如 pipeline 或自定义数据库\n\n## apiCode\n\n| apiCode | 描述                                                       |\n| :------ | :--------------------------------------------------------- |\n| 1300    | AK/SK 签名不合法                                           |\n| 1301    | AK/SK 签名方式和服务端不匹配                               |\n| 1302    | AK/SK 签名版本和服务端不匹配                               |\n| 1303    | AK/SK 签名时间戳格式不正确，应该是单位为毫秒的 Unix 时间戳 |\n| 1304    | 使用 AK/SK 签名机制时，请求头中没有 date 请求头            |\n| 1305    | AK/SK 签名时间戳和服务器时间戳相差较大，此次请求不被允许   |\n| 1306    | AK/SK 签名已经被消费过，此次请求不被允许                   |\n| 1600    | 认证后流程成功完成，登录态已设置                           |\n| 1635    | 个人（个人中心绑定）MFA                                    |\n| 1636    | 企业（应用下配置的） MFA                                   |\n| 1639    | 首次登录重置密码（不需要验证旧密码）                       |\n| 1640    | 触发联邦认证询问身份绑定，只允许绑定现有账号               |\n| 1641    | 触发联邦认证询问身份绑定，允许绑定现有账号和创建新账号     |\n| 1642    | 登录信息补全                                               |\n| 1643    | 用户自主解锁                                               |\n| 1699    | 提前终止认证后流程，返回登录界面                           |\n| 1700    | 未上传人脸识别的照片                                       |\n| 1701    | 人脸对比时，未上传需要对比的图片                           |\n| 1702    | 人脸校验错误                                               |\n| 1703    | 未绑定邮箱或手机号，无法绑定人脸                           |\n| 1704    | 绑定人脸时，手机验证失败                                   |\n| 1705    | 绑定人脸时，邮箱验证失败                                   |\n| 1706    | 人脸已被绑定                                               |\n| 1707    | 绑定人脸失败                                               |\n| 2004    | 用户未找到                                                 |\n| 2005    | 用户已锁定                                                 |\n| 2006    | 密码错误                                                   |\n| 2011    | 应用不存在                                                 |\n| 2020    | 尚未登录，无权限访问此请求                                 |\n| 2031    | 应用已禁止注册用户                                         |\n| 2039    | 应用域名已被占用                                           |\n| 2040    | 用户池域名已被占用                                         |\n| 2058    | 强制重置密码（需要验证旧密码）                             |\n| 2224    | 用户池不存在                                               |\n| 2333    | 用户名或密码错误                                           |\n| 4021    | 计量计费错误                                               |\n| 6001    | Totp 码错误                                                |\n| 6002    | Totp 恢复码错误                                            |\n| 6003    | 未输入 Totp 安全码                                         |\n| 6004    | 未输入 Totp 恢复码                                         |\n| 2120008 | 用户已停用或不是此租户成员                                 |\n| 2130010 | 用户无权限登录此租户                                       |\n| 2820002 | 无效的 LDAP 链接                                           |\n\n## 响应数据示例\n\n一个成功的请求响应数据示例如下：\n\n```json\n{\n  // 此响应表示请求成功，所以不会返回 apiCode\n  \"statusCode\": 200,\n  \"message\": \"\",\n  \"data\": {\n    // ... 省略具体数据\n  }\n}\n```\n\n一个失败的请求响应数据示例如下：\n\n```json\n{\n  // 此类型错误不具备具体的业务含义，所以不会返回 apiCode\n  \"statusCode\": 429,\n  \"message\": \"您的请求已超过最大数量限制，请稍后重试\"\n}\n```\n\n以及：\n\n```json\n{\n  // 账号不存在或密码错误具备业务含义，所以返回了对应的 apiCode: 2333\n  \"statusCode\": 403,\n  \"apiCode\": 2333,\n  \"message\": \"Account not exists or password is incorrect.\",\n  \"requestId\": \"xxxxxx-xxxxxx-xxxxxx-xxxxxx\"\n}\n```\n\n## 我该如何处理 statusCode 和 apiCode\n\n在大多数情况下，除非你需要对某些特定的异常做出响应，否则你只需要关注 `statusCode`，不需要关注 `apiCode`。\n比如登录接口，如果你只需要在用户登录失败的时候给出错误提示，可以不用关心 `apiCode`；但是如果你需要对某一种\n特定的业务错误进行额外处理，就需要根据 `apiCode` 进行判断。\n","x-displayName":"错误处理"},{"name":"开发准备/使用认证 API","description":"如果你需要登录、注册、登出、MFA、检查登录态、OIDC 标准协议等所有与认证相关的接口，点此查看 [Authing Authentication API (v3)](https://api.authing.cn/openapi/v3/authentication)。\n","x-displayName":"使用认证 API"},{"name":"事件订阅/概述","description":"通过事件订阅，可以满足应用及时响应 Authing 事件变更的需求。在 Authing 中，事件订阅通过 Webhook 来实现。\n\n通过使用 Webhook，当某个事件发生时（如用户信息被修改、用户被删除等），Authing 服务会以 HTTP `POST` 请求的方式将事件内容以 `JSON` 格式推送给你配置的请求地址。\n\n下面列举两个简单的适用场景。开发者可以根据实际需求，订阅不同的事件。Authing 目前支持的事件请参考[事件列表](#事件列表)。\n\n- **实时数据处理**：如果应用对数据的实时性要求比较高，希望能够及时地从飞书同步数据的变化，可以进行事件订阅。例如在用户被删除时，应用需要第一时间处理此用户的业务数据，就可以订阅**用户删除**事件。\n- **快速事件响应**：如果应用需要及时响应用户的操作，例如当用户登录时，自动为其推送一条消息，就可以订阅**用户登录**事件。\n\n![](https://files.authing.co/api-explorer/webhook-list.jpg)\n","x-displayName":"概述"},{"name":"事件订阅/事件安全验证","description":"为了保证 Webhook 事件传输过程中中的安全性，当你在创建 Webhook 时，你可以设置请求密钥：当 Authing 向你的服务器推送事件时，会在请求头 `x-authing-token` 中带上此密钥，借此验证请求的合法性。\n\n![](https://files.authing.co/api-explorer/webhook-secret.jpg)\n","x-displayName":"事件安全验证"},{"name":"事件订阅/事件列表","description":"目前支持的完整事件列表，请见：[Webhook 事件列表](https://docs.authing.co/v2/guides/webhook/#%E6%94%AF%E6%8C%81%E7%9A%84%E4%BA%8B%E4%BB%B6)\n","x-displayName":"事件列表"},{"name":"事件订阅/事件出口 IP","description":"当你接收 Authing 服务器的 Webhook 通知等操作时，根据你的网络防火墙设置，你可能需要获取 Authing 服务的对外 IP，并修改防火墙配置。Authing 服务的对外 IP 可以通过[此端点](/api/v3/system)获取。\n","x-displayName":"事件出口 IP"},{"name":"管理用户/概述","description":"此模块用于管理 Authing 的用户目录。\n\n你可以把 Authing 用户目录理解为存储了你所有用户资料的目录，你可以在用户目录中搜索用户、查看用户资料、修改用户信息；这个用户目录的 Schema 是可扩展的，你可以添加自定义的用户字段。\n","x-displayName":"概述"},{"name":"管理用户/使用自定义数据库存储用户数据","description":"默认情况下，Authing 会将用户数据存储在 Authing 的数据库（Authing User Store），但是如果你有老的数据库需要迁移，或者想使用自己的数据库，如 MySQL，MongoDB，SQL Server 等（Custom User Store），你可以使用自定义数据库功能。详情请[查看文档](https://docs.authing.cn/v2/guides/database-connection/overview.html)。\n\n使用了自定义数据库的情况下，API 调用形式不受影响。\n","x-displayName":"使用自定义数据库存储用户数据"},{"name":"管理用户/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理用户/事件","description":"当你对用户进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理用户/常见问题","description":"## 如何迁移历史用户的密码\n\n假如你可以解密得到用户的原始密码，可以直接在创建用户的时候设置用户的密码；更多情况下，你可能无法获取用户的原始密码，但是你肯定有办法可以**验证用户密码**的合法性。通过以下两步可以实现无缝迁移历史用户的密码：\n\n- 第一步，配置自定义密码函数：你需要编写**加密密码**和**验证密码**两个函数，**加密密码函数**用于对新用户的密码进行自定义加密，**验证密码函数**用于对用户的密码进行自定义验证。详情请见[配置自定义密码函数](https://docs.authing.cn/v2/guides/migrations/custom-password-script/)。\n- 第二步，调用批量创建用户 API 创建用户时，设置 `options.keepPassword` 为 `true`，开启这个开关之后，用户的 `password` 字段会直接写入 Authing 数据库，Authing 不会再次加密此字段。后续用户验证密码时，将会使用你配置的自定义密码函数进行验证。\n","x-displayName":"常见问题"},{"name":"管理组织机构/概述","description":"和一般的 OA 系统、人事管理系统不一样，Authing 的组织机构是支持多租户的，也就是一个用户池中可能有多个相互隔离的组织机构。所以在 Authing 的组织机构模型中，你需要明确区分两个概念：\n\n- `组织机构（Organization）`：组织机构是一组部门在逻辑上的集合。从数据结构上体现，每个组织机构有一棵独立的树状结构，树的节点对应的是部门；对应到现实生活中，你可以理解为一家独立的公司。\n- `部门（Department）`：部门对应的是一个原子化单位，对应到现实中，你可以理解为一个公司中的某个部门。\n\n对应的，Authing 组织机构管理 API 包含两部分：\n\n- 组织机构的管理：一级组织机构的创建、修改、删除、查询。\n- 部门的管理：在某个组织机构中，进行添加部门、修改部门、删除子部门、移动部门、获取子部门列表、添加成员、删除成员、获取成员列表等操作。\n","x-displayName":"概述"},{"name":"管理组织机构/从第三方导入组织机构","description":"在现实中，你很有可能在一个第三方的系统（比如飞书、钉钉、企业微信或者是任何自建的 HR 系统）中维护了你的组织机构数据，针对这种场景，Authing 推出了**同步中心**的功能。同步中心可以使企业管理者免于在各个系统中手动维护应用账号， 真正实现**一处管理、处处同步**，既提高了员工生命周期流转效率，又帮助企业降低了运维成本。\n\n![](https://cdn.authing.co/authing-docs-v2/1.3.123/assets/img/main.fd9b2a9e.jpg)\n\n详情请了解[同步中心](https://docs.authing.cn/v2/guides/sync-new/)。\n","x-displayName":"从第三方导入组织机构"},{"name":"管理组织机构/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理组织机构/事件","description":"当你对组织机构进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理组织机构/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理角色/概述","description":"","x-displayName":"概述"},{"name":"管理角色/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理角色/事件","description":"当你对角色进行了增删改操、授权作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理角色/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理用户分组/概述","description":"","x-displayName":"概述"},{"name":"管理用户分组/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理用户分组/事件","description":"当你对用户分组进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理用户分组/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理自定义字段/概述","description":"","x-displayName":"概述"},{"name":"管理自定义字段/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理自定义字段/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理自定义字段/事件","description":"当你对自定义数据进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理自定义字段/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理资源与权限/概述","description":"","x-displayName":"概述"},{"name":"管理资源与权限/权限模型介绍","description":"","x-displayName":"权限模型介绍"},{"name":"管理资源与权限/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理资源与权限/事件","description":"","x-displayName":"事件"},{"name":"管理资源与权限/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理应用/概述","description":"","x-displayName":"概述"},{"name":"管理应用/成为身份源（IdP）","description":"","x-displayName":"成为身份源（IdP）"},{"name":"管理应用/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理应用/事件","description":"当你对用户进行了增删改操作之后，你可以获得对应的 Webhook 事件通知，详情请见[使用 Webhook 监听事件](https://docs.authing.cn/v2/guides/webhook/)。\n","x-displayName":"事件"},{"name":"管理应用/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理单点登录应用面板/概述","description":"","x-displayName":"概述"},{"name":"管理单点登录应用面板/什么是单点登录","description":"","x-displayName":"什么是单点登录"},{"name":"管理单点登录应用面板/什么是应用面板","description":"","x-displayName":"什么是应用面板"},{"name":"管理单点登录应用面板/前端如何实现单点登录","description":"","x-displayName":"前端如何实现单点登录"},{"name":"管理单点登录应用面板/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理单点登录应用面板/事件","description":"","x-displayName":"事件"},{"name":"管理单点登录应用面板/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理多租户/概述","description":"","x-displayName":"概述"},{"name":"管理多租户/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理多租户/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理多租户/事件","description":"","x-displayName":"事件"},{"name":"管理多租户/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理身份源/概述","description":"","x-displayName":"概述"},{"name":"管理身份源/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理身份源/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理身份源/事件","description":"","x-displayName":"事件"},{"name":"管理身份源/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理安全配置/概述","description":"","x-displayName":"概述"},{"name":"管理安全配置/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理安全配置/最佳实践","description":"","x-displayName":"最佳实践"},{"name":"管理安全配置/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理安全配置/事件","description":"","x-displayName":"事件"},{"name":"管理安全配置/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理全局登录框配置/概述","description":"","x-displayName":"概述"},{"name":"管理全局登录框配置/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理全局登录框配置/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理消息服务/概述","description":"","x-displayName":"概述"},{"name":"管理消息服务/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理消息服务/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理同步中心/概述","description":"","x-displayName":"概述"},{"name":"管理同步中心/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理同步中心/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理同步中心/事件","description":"","x-displayName":"事件"},{"name":"管理同步中心/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理 Pipeline/概述","description":"","x-displayName":"概述"},{"name":"管理 Pipeline/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理 Pipeline/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理 Pipeline/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理 Webhook/概述","description":"","x-displayName":"概述"},{"name":"管理 Webhook/基本概念","description":"","x-displayName":"基本概念"},{"name":"管理 Webhook/API 列表","description":"","x-displayName":"API 列表"},{"name":"管理 Webhook/常见问题","description":"","x-displayName":"常见问题"},{"name":"获取审计日志/概述","description":"","x-displayName":"概述"},{"name":"获取审计日志/API 列表","description":"","x-displayName":"API 列表"},{"name":"获取审计日志/常见问题","description":"","x-displayName":"常见问题"},{"name":"获取统计数据/概述","description":"","x-displayName":"概述"},{"name":"获取统计数据/API 列表","description":"","x-displayName":"API 列表"},{"name":"获取统计数据/常见问题","description":"","x-displayName":"常见问题"},{"name":"管理计量计费/概述","description":"","x-displayName":"概述"},{"name":"管理计量计费/API 列表","description":"","x-displayName":"API 列表"},{"name":"最佳实践/最佳实践","description":"","x-displayName":"最佳实践"},{"name":"常见问题/常见问题","description":"","x-displayName":"常见问题"},{"name":"工具与资源/Authing 认证 API","description":"","x-displayName":"Authing 认证 API"},{"name":"工具与资源/Quick Start","description":"\n","x-displayName":"Quick Start"},{"name":"工具与资源/SDK 列表","description":"\n","x-displayName":"SDK 列表"},{"name":"工具与资源/使用文档","description":"\n","x-displayName":"使用文档"},{"name":"获取帮助/获取帮助","description":"","x-displayName":"获取帮助"}],"servers":[{"url":"https://console.cj.mereith.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"},"x-authing-userpool-id":{"type":"apiKey","in":"header","name":"x-authing-userpool-id","description":"Authing Userpool Id"}},"schemas":{"GetManagementAccessTokenDto":{"type":"object","properties":{"accessKeyId":{"type":"string","description":"AccessKey ID: 如果是以用户池全局 AK/SK 初始化，为用户池 ID；如果是以协作管理员的 AK/SK 初始化，为协作管理员的 AccessKey ID。","example":"6250f12d5dxxxx9bcfcf784b"},"accessKeySecret":{"type":"string","description":"AccessKey Secret: 如果是以用户池全局 AK/SK 初始化，为用户池密钥；如果是以协作管理员的 AK/SK 初始化，为协作管理员的 SK。","example":"4ae78d3e579a6dxxxx1aeca7b1e29ec2"}},"required":["accessKeyId","accessKeySecret"]},"AccessTokenResDto":{"type":"object","properties":{"access_token":{"type":"string","description":"Access Token 内容","example":"eyJ...Ggg"},"expires_in":{"type":"number","description":"token 有效时间","example":7200}},"required":["access_token","expires_in"]},"GetManagementTokenRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/AccessTokenResDto"}]}},"required":["statusCode","message","data"]},"ListUsersAdvancedFilterItemDto":{"type":"object","properties":{"field":{"type":"string","description":"高级搜索指定的用户字段：\n- `id`: 用户 ID\n- `phone`: 手机号   \n- `email`: 邮箱\n- `username`: 用户名\n- `externalId`: 用户在外部系统的 ID\n- `name`: 姓名\n- `status`: 用户状态，可选值为 `Activated` 和 `Suspended`\n- `gender`: 用户性别，可选值为 `M`（男性）、`F`（女性） 和 `U`（未知）\n- `birthdate`: 出生日期\n- `givenName`: 名\n- `familyName`: 姓\n- `preferredUsername`: Preferred Username\n- `profile`: 个人资料\n- `country`: 国家\n- `province`: 省份\n- `zoneinfo`: 时区\n- `website`: 个人网站\n- `address`: 地址\n- `streetAddress`: 街道地址\n- `company`: 公司\n- `postalCode`: 邮政编码\n- `formatted`: 格式化的地址\n- `signedUp`: 注册时间\n- `locale`: 语言信息\n- `lastLoginTime`: 上次登录时间，为日期类型\n- `loginsCount`: 登录次数，为数字类型\n- `lastLoginApp`: 上次登录的应用 ID\n- `userSource`: 用户来源，具体使用见示例\n- `department`: 用户部门，具体使用见示例\n- `loggedInApps`: 曾经登录过的应用，具体使用见示例\n- `identity`: 用户外部身份源信息，具体使用见示例\n- ... 其他自定义字段\n","example":"nickname"},"operator":{"type":"string","description":"运算符，可选值为：\n- `EQUAL`: 全等，适用于数字和字符串的全等匹配\n- `NOT_EQUAL`: 不等于，适用于数字和字符串的匹配\n- `CONTAINS`: 字符串包含\n- `NOT_CONTAINS`: 字符串不包含\n- `IS_NULL`: 为空\n- `NOT_NULL`: 不为空\n- `IN`: 为某个数组中的元素\n- `GREATER`: 大于或等于，适用于数字、日期类型数据的比较\n- `LESSER`: 小于或等于，适用于数字、日期类型数据的比较\n- `BETWEEN`: 介于什么什么之间，适用于数字、日期类型数据的比较\n    ","enum":["EQUAL","NOT_EQUAL","CONTAINS","NOT_CONTAINS","IS_NULL","NOT_NULL","IN","GREATER","LESSER","BETWEEN"],"example":"EQUAL"},"value":{"type":"object","description":"搜索值，不同的 `field` 对应的 `value` 类型可能不一样，详情见示例。","example":"test"}},"required":["field","operator"]},"PaginationDto":{"type":"object","properties":{"page":{"type":"number","description":"当前页数，从 1 开始","default":1,"example":1},"limit":{"type":"number","description":"每页数目，最大不能超过 50，默认为 10","default":10,"example":10}}},"SortingDto":{"type":"object","properties":{"field":{"type":"string","description":"进行排序的字段，可选值为：\n- `createdAt`: 创建时间\n- `updatedAt`: 修改时间\n- `email`: 邮箱\n- `phone`: 手机号\n- `username`: 用户名\n- `externalId`: 外部 ID\n- `status`: 用户状态\n- `statusChangedAt`: 状态修改时间\n- `passwordLastSetAt`: 密码修改时间\n- `loginsCount`: 登录次数\n- `gender`: 性别\n- `lastLogin`: 上次登录时间\n- `userSourceType`: 用户注册来源\n- `lastMfaTime`: 上次 MFA 认证时间\n- `passwordSecurityLevel`: 密码安全等级\n- `phoneCountryCode`: 手机区号\n- `lastIp`: 上次登录时使用的 IP\n","example":"loginsCount","enum":["createdAt","updatedAt","email","username","externalId","phone","status","statusChangedAt","passwordLastSetAt","loginsCount","gender","lastLogin","userSourceType","lastMfaTime","passwordSecurityLevel","phoneCountryCode","lastIp"]},"order":{"type":"string","description":"排序顺序：\n- `desc`: 按照从大到小降序。\n- `asc`: 按照从小到大升序。\n    ","enum":["desc","asc"],"example":"desc"}},"required":["field","order"]},"ListUsersOptionsDto":{"type":"object","properties":{"pagination":{"description":"分页配置","example":{"page":1,"limit":10},"allOf":[{"$ref":"#/components/schemas/PaginationDto"}]},"sort":{"description":"排序设置，可以设置多项按照多个字段进行排序","example":[{"field":"createdAt","direction":"desc"},{"field":"loginsCount","direction":"desc"}],"type":"array","items":{"$ref":"#/components/schemas/SortingDto"}},"fuzzySearchOn":{"type":"array","description":"模糊搜索匹配的用户字段，可选值为：\n- `phone`: 用户手机号，不能包含手机号区号，默认包含\n- `email`: 用户邮箱，默认包含\n- `name`: 用户名称，默认包含\n- `username`: 用户名，默认包含\n- `nickname`: 用户昵称，默认包含\n- `id`: 用户 ID\n- `company`: 公司\n- `givenName`: 名\n- `familyName`: 姓\n- `middleName`: 中间名\n- `preferredUsername`: Preferred Username\n- `profile`: 个人资料\n- `website`: 个人网站\n- `address`: 地址\n- `formatted`: 格式化地址\n- `streetAddress`: 街道地址\n- `postalCode`: 邮编号码\n","default":["phone","email","name","username","nickname"],"items":{"type":"string","enum":["id","phone","email","name","username","externalId","nickname","company","givenName","familyName","middleName","profile","preferredUsername","website","address","formatted","streetAddress","postalCode"]}},"withCustomData":{"type":"boolean","description":"是否获取自定义数据","default":false,"example":true},"withIdentities":{"type":"boolean","description":"是否获取 identities","default":false,"example":true},"withDepartmentIds":{"type":"boolean","description":"是否获取部门 ID 列表","default":false,"example":true}}},"ListUsersRequestDto":{"type":"object","properties":{"query":{"type":"string","description":"模糊搜索关键字","example":"test"},"advancedFilter":{"description":"高级搜索","type":"array","items":{"$ref":"#/components/schemas/ListUsersAdvancedFilterItemDto"}},"options":{"description":"可选项","allOf":[{"$ref":"#/components/schemas/ListUsersOptionsDto"}]}}},"IdentityDto":{"type":"object","properties":{"identityId":{"type":"string","description":"身份源 ID","example":"62299d8b866d2dab79a89dc4"},"extIdpId":{"type":"string","description":"身份源连接 ID","example":"6076bacxxxxxxxxd80d993b5"},"provider":{"type":"string","description":"外部身份源类型：\n- `wechat`: 微信\n- `qq`: QQ\n- `wechatwork`: 企业微信\n- `dingtalk`: 钉钉\n- `weibo`: 微博\n- `github`: GitHub\n- `alipay`: 支付宝\n- `baidu`: 百度\n- `lark`: 飞书\n- `welink`: Welink\n- `yidun`: 网易易盾\n- `qingcloud`: 青云\n- `google`: Google\n- `gitlab`: GitLab\n- `gitee`: Gitee\n- `twitter`: Twitter\n- `facebook`: Facebook\n- `slack`: Slack\n- `linkedin`: Linkedin\n- `instagram`: Instagram\n- `oidc`: OIDC 型企业身份源\n- `oauth2`: OAuth2 型企业身份源\n- `saml`: SAML 型企业身份源\n- `ldap`: LDAP 型企业身份源\n- `ad`: AD 型企业身份源\n- `cas`: CAS 型企业身份源\n- `azure-ad`: Azure AD 型企业身份源\n    ","enum":["oidc","oauth2","saml","ldap","ad","cas","azure-ad","wechat","google","qq","wechatwork","dingtalk","weibo","github","alipay","apple","baidu","lark","gitlab","twitter","facebook","slack","linkedin","yidun","qingcloud","gitee","instagram","welink"],"example":"wechat"},"type":{"type":"string","description":"Identity 类型，如 unionid, openid, primary","example":"openid"},"userIdInIdp":{"type":"string","description":"在外部身份源中的 ID","example":"oj7Nq05R-RRaqak0_YlMLnnIwsvg"},"originConnIds":{"description":"身份来自的身份源连接 ID 列表","example":["605492ac41xxxxe0362f0707"],"type":"array","items":{"type":"string"}}},"required":["identityId","extIdpId","provider","type","userIdInIdp","originConnIds"]},"UserDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"createdAt":{"format":"date-time","type":"string","description":"创建时间","example":"2022-07-03T02:20:30.000Z"},"updatedAt":{"format":"date-time","type":"string","description":"更新时间","example":"2022-07-03T02:20:30.000Z"},"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"loginsCount":{"type":"number","description":"历史总登录次数","example":3},"lastLogin":{"format":"date-time","type":"string","description":"上次登录时间","example":"2022-07-03T02:20:30.000Z"},"lastIp":{"type":"string","description":"上次登录 IP","example":"127.0.0.1"},"gender":{"type":"string","description":"性别:\n- `M`: 男性，`male`\n- `F`: 女性，`female`\n- `U`: 未知，`unknown`\n  ","enum":["M","F","U"],"example":"M"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"passwordLastSetAt":{"format":"date-time","type":"string","description":"用户上次密码修改时间","example":"2022-07-03T02:20:30.000Z"},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":""},"profile":{"type":"string","description":"Preferred Username","example":""},"preferredUsername":{"type":"string","description":"Preferred Username","example":""},"website":{"type":"string","description":"用户个人网页","example":""},"zoneinfo":{"type":"string","description":"用户时区信息","example":""},"locale":{"type":"string","description":"Locale","example":""},"formatted":{"type":"string","description":"标准的完整地址","example":""},"region":{"type":"string","description":"用户所在区域","example":""},"userSourceType":{"type":"string","description":"来源类型:\n- `excel`: 通过 excel 导入\n- `register`: 用户自主注册\n- `adminCreated`: 管理员后台手动创建（包含使用管理 API 创建用户 ）\n- `syncTask`: 同步中心的同步任务  \n","enum":["excel","register","adminCreated","syncTask"],"example":"register"},"userSourceId":{"type":"string","description":"应用 ID 或者同步任务 ID","example":""},"lastLoginApp":{"type":"string","description":"用户上次登录的应用 ID","example":""},"mainDepartmentId":{"type":"string","description":"用户主部门 ID","example":""},"lastMfaTime":{"format":"date-time","type":"string","description":"用户上次进行 MFA 认证的时间","example":""},"passwordSecurityLevel":{"type":"number","description":"用户密码安全强度等级","example":1},"resetPasswordOnNextLogin":{"type":"boolean","description":"下次登录要求重置密码","default":false},"departmentIds":{"description":"用户所属部门 ID 列表","example":["624d930c3xxxx5c08dd4986e","624d93102xxxx012f33cd2fe"],"type":"array","items":{"type":"string"}},"identities":{"description":"外部身份源","type":"array","items":{"$ref":"#/components/schemas/IdentityDto"}},"customData":{"type":"object","description":"用户的扩展字段数据","example":{"school":"北京大学","age":22}},"statusChangedAt":{"format":"date-time","type":"string","description":"用户状态上次修改时间","example":"2022-07-03T02:20:30.000Z"}},"required":["userId","createdAt","updatedAt","status","gender","emailVerified","phoneVerified","userSourceType"]},"UserPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"数据列表","type":"array","items":{"$ref":"#/components/schemas/UserDto"}}},"required":["totalCount","list"]},"UserPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/UserPagingDto"}]}},"required":["statusCode","message","data"]},"UserSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/UserDto"}]}},"required":["statusCode","message","data"]},"UserListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"用户列表","type":"array","items":{"$ref":"#/components/schemas/UserDto"}}},"required":["statusCode","message","data"]},"CreateUserOtpDto":{"type":"object","properties":{"secret":{"type":"string","description":"OTP 密钥","example":"HZ2F6J3AGNAVSOTV"},"recoveryCode":{"type":"string","description":"OTP Recovery Code","example":"b471-8ec0-874a-087f-bccb-cd54"}},"required":["secret"]},"CreateIdentityDto":{"type":"object","properties":{"extIdpId":{"type":"string","description":"身份源连接 ID","example":"6076bacxxxxxxxxd80d993b5"},"provider":{"type":"string","description":"外部身份源类型：\n- `wechat`: 微信\n- `qq`: QQ\n- `wechatwork`: 企业微信\n- `dingtalk`: 钉钉\n- `weibo`: 微博\n- `github`: GitHub\n- `alipay`: 支付宝\n- `baidu`: 百度\n- `lark`: 飞书\n- `welink`: Welink\n- `yidun`: 网易易盾\n- `qingcloud`: 青云\n- `google`: Google\n- `gitlab`: GitLab\n- `gitee`: Gitee\n- `twitter`: Twitter\n- `facebook`: Facebook\n- `slack`: Slack\n- `linkedin`: Linkedin\n- `instagram`: Instagram\n- `oidc`: OIDC 型企业身份源\n- `oauth2`: OAuth2 型企业身份源\n- `saml`: SAML 型企业身份源\n- `ldap`: LDAP 型企业身份源\n- `ad`: AD 型企业身份源\n- `cas`: CAS 型企业身份源\n- `azure-ad`: Azure AD 型企业身份源\n    ","enum":["oidc","oauth2","saml","ldap","ad","cas","azure-ad","wechat","google","qq","wechatwork","dingtalk","weibo","github","alipay","apple","baidu","lark","gitlab","twitter","facebook","slack","linkedin","yidun","qingcloud","gitee","instagram","welink"],"example":"wechat"},"type":{"type":"string","description":"Identity 类型，如 unionid, openid, primary","example":"openid"},"userIdInIdp":{"type":"string","description":"在外部身份源中的 ID","example":"oj7Nq05R-RRaqak0_YlMLnnIwsvg"},"originConnIds":{"description":"身份来自的身份源连接 ID 列表","example":["605492ac41xxxxe0362f0707"],"type":"array","items":{"type":"string"}}},"required":["extIdpId","provider","type","userIdInIdp","originConnIds"]},"SendCreateAccountNotificationDto":{"type":"object","properties":{"sendEmailNotification":{"type":"boolean","description":"创建账号之后，是否发送邮件通知","default":false,"example":false},"sendPhoneNotification":{"type":"boolean","description":"创建账号之后，是否发送短信通知","default":false,"example":false},"appId":{"type":"string","description":"发送登录地址时，指定的应用 id，会将此应用的登录地址发送给用户的邮箱或者手机号。默认为用户池应用面板的登录地址。","example":"appid1"}}},"CreateUserOptionsDto":{"type":"object","properties":{"keepPassword":{"type":"boolean","description":"该参数一般在迁移旧有用户数据到 Authing 的时候会设置。开启这个开关，password 字段会直接写入 Authing 数据库，Authing 不会再次加密此字段。如果你的密码不是明文存储，你应该保持开启，并编写密码函数计算。","default":false},"autoGeneratePassword":{"type":"boolean","description":"是否自动生成密码","default":false},"resetPasswordOnFirstLogin":{"type":"boolean","description":"是否强制要求用户在第一次的时候重置密码","default":false},"departmentIdType":{"type":"string","description":"此次调用中使用的父部门 ID 的类型","example":"department_id","enum":["department_id","open_department_id"],"default":"department_id"},"sendNotification":{"description":"重置密码发送邮件和手机号选项","example":{"sendEmailNotification":true,"sendPhoneNotification":true},"allOf":[{"$ref":"#/components/schemas/SendCreateAccountNotificationDto"}]},"passwordEncryptType":{"type":"string","description":"密码加密类型，支持使用 RSA256 和国密 SM2 算法进行加密。默认为 `none` 不加密。\n- `none`: 不对密码进行加密，使用明文进行传输。\n- `rsa`: 使用 RSA256 算法对密码进行加密，需要使用 Authing 服务的 RSA 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 RSA256 公钥。\n- `sm2`: 使用 [国密 SM2 算法](https://baike.baidu.com/item/SM2/15081831) 对密码进行加密，需要使用 Authing 服务的 SM2 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 SM2 公钥。\n  ","enum":["sm2","rsa","none"],"example":"none","default":"none"}}},"CreateUserReqDto":{"type":"object","properties":{"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated","default":"Activated"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"gender":{"type":"string","description":"性别","enum":["M","F","U"],"example":"M","default":"U"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":""},"profile":{"type":"string","description":"Preferred Username","example":""},"preferredUsername":{"type":"string","description":"Preferred Username","example":""},"website":{"type":"string","description":"用户个人网页","example":""},"zoneinfo":{"type":"string","description":"用户时区信息","example":""},"locale":{"type":"string","description":"Locale","example":""},"formatted":{"type":"string","description":"标准的完整地址","example":""},"region":{"type":"string","description":"用户所在区域","example":""},"password":{"type":"string","description":"用户密码。我们使用 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 RSA256 和国密 SM2 两种方式对密码进行加密。详情见 `passwordEncryptType` 参数。","example":"oqw5bhVmlDwF5qqeVA645bICyMVfFaV3sf3ZTrk5Npcm5dTOmBVo1anyZ5JLfHAz/P45r0QTPo8xS1YdKxIrshx4Ju+g04s9SQqW30ebdVdqcOntIJGAXU6arrkPvfcRFV3ZVTwBdgdRWHMkr5sTcnGNYdgL67P9/jHnzltkLbY="},"salt":{"type":"string","description":"加密用户密码的盐","example":"dgisaeieruur"},"tenantIds":{"description":"租户 ID","type":"array","items":{"type":"string"}},"otp":{"description":"用户的 OTP 验证器","allOf":[{"$ref":"#/components/schemas/CreateUserOtpDto"}]},"departmentIds":{"description":"用户所属部门 ID 列表","example":["624d930c3xxxx5c08dd4986e","624d93102xxxx012f33cd2fe"],"type":"array","items":{"type":"string"}},"customData":{"type":"object","description":"自定义数据，传入的对象中的 key 必须先在用户池定义相关自定义字段","example":{"school":"北京大学","age":22}},"identities":{"description":"第三方身份源（建议调用绑定接口进行绑定）","example":{"extIdpId":"6076bacxxxxxxxxd80d993b5","provider":"wechat","type":"openid","userIdInIdp":"oj7Nq05R-RRaqak0_YlMLnnIwsvg"},"type":"array","items":{"$ref":"#/components/schemas/CreateIdentityDto"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/CreateUserOptionsDto"}]}}},"CreateUserInfoDto":{"type":"object","properties":{"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated","default":"Activated"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"gender":{"type":"string","description":"性别","enum":["M","F","U"],"example":"M","default":"U"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":""},"profile":{"type":"string","description":"Preferred Username","example":""},"preferredUsername":{"type":"string","description":"Preferred Username","example":""},"website":{"type":"string","description":"用户个人网页","example":""},"zoneinfo":{"type":"string","description":"用户时区信息","example":""},"locale":{"type":"string","description":"Locale","example":""},"formatted":{"type":"string","description":"标准的完整地址","example":""},"region":{"type":"string","description":"用户所在区域","example":""},"password":{"type":"string","description":"用户密码。我们使用 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 RSA256 和国密 SM2 两种方式对密码进行加密。详情见 `passwordEncryptType` 参数。","example":"oqw5bhVmlDwF5qqeVA645bICyMVfFaV3sf3ZTrk5Npcm5dTOmBVo1anyZ5JLfHAz/P45r0QTPo8xS1YdKxIrshx4Ju+g04s9SQqW30ebdVdqcOntIJGAXU6arrkPvfcRFV3ZVTwBdgdRWHMkr5sTcnGNYdgL67P9/jHnzltkLbY="},"salt":{"type":"string","description":"加密用户密码的盐","example":"dgisaeieruur"},"tenantIds":{"description":"租户 ID","type":"array","items":{"type":"string"}},"otp":{"description":"用户的 OTP 验证器","allOf":[{"$ref":"#/components/schemas/CreateUserOtpDto"}]},"departmentIds":{"description":"用户所属部门 ID 列表","example":["624d930c3xxxx5c08dd4986e","624d93102xxxx012f33cd2fe"],"type":"array","items":{"type":"string"}},"customData":{"type":"object","description":"自定义数据，传入的对象中的 key 必须先在用户池定义相关自定义字段","example":{"school":"北京大学","age":22}},"identities":{"description":"第三方身份源（建议调用绑定接口进行绑定）","example":{"extIdpId":"6076bacxxxxxxxxd80d993b5","provider":"wechat","type":"openid","userIdInIdp":"oj7Nq05R-RRaqak0_YlMLnnIwsvg"},"type":"array","items":{"$ref":"#/components/schemas/CreateIdentityDto"}}}},"CreateUserBatchReqDto":{"type":"object","properties":{"list":{"description":"用户列表","minItems":1,"maxItems":50,"type":"array","items":{"$ref":"#/components/schemas/CreateUserInfoDto"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/CreateUserOptionsDto"}]}},"required":["list"]},"SendResetPasswordNotificationDto":{"type":"object","properties":{"sendDefaultEmailNotification":{"type":"boolean","description":"重置密码之后，是否发送用户默认邮件通知","default":false,"example":false},"sendDefaultPhoneNotification":{"type":"boolean","description":"重置密码之后，是否发送用户默认短信通知","default":false,"example":false},"inputSendEmailNotification":{"type":"string","description":"当用户密码修改之后，输入发送邮箱","example":"test@example.com"},"inputSendPhoneNotification":{"type":"string","description":"当用户密码修改之后，输入发送手机号","example":"183xxxx1234"},"appId":{"type":"string","description":"发送登录地址时，指定的应用 id，会将此应用的登录地址发送给用户的邮箱或者手机号。默认为用户池应用面板的登录地址。","example":"appid1"}}},"UpdateUserOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"},"resetPasswordOnNextLogin":{"type":"boolean","description":"下次登录要求重置密码","default":false},"passwordEncryptType":{"type":"string","description":"密码加密类型，支持使用 RSA256 和国密 SM2 算法进行加密。默认为 `none` 不加密。\n- `none`: 不对密码进行加密，使用明文进行传输。\n- `rsa`: 使用 RSA256 算法对密码进行加密，需要使用 Authing 服务的 RSA 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 RSA256 公钥。\n- `sm2`: 使用 [国密 SM2 算法](https://baike.baidu.com/item/SM2/15081831) 对密码进行加密，需要使用 Authing 服务的 SM2 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 SM2 公钥。\n  ","enum":["sm2","rsa","none"],"example":"none","default":"none"},"autoGeneratePassword":{"type":"boolean","description":"是否自动生成密码","default":false},"sendPasswordResetedNotification":{"description":"重置密码发送邮件和手机号选项","example":{"sendDefaultEmailNotification":false,"sendDefaultPhoneNotification":false,"inputSendEmailNotification":"test@example.com","inputSendPhoneNotification":"136xxxx1234","appId":"app1"},"allOf":[{"$ref":"#/components/schemas/SendResetPasswordNotificationDto"}]}}},"UpdateUserReqDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated","default":"Activated"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"gender":{"type":"string","description":"性别","enum":["M","F","U"],"example":"M","default":"U"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"password":{"type":"string","description":"用户密码。我们使用 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 RSA256 和国密 SM2 两种方式对密码进行加密。详情见 `passwordEncryptType` 参数。","example":"oqw5bhVmlDwF5qqeVA645bICyMVfFaV3sf3ZTrk5Npcm5dTOmBVo1anyZ5JLfHAz/P45r0QTPo8xS1YdKxIrshx4Ju+g04s9SQqW30ebdVdqcOntIJGAXU6arrkPvfcRFV3ZVTwBdgdRWHMkr5sTcnGNYdgL67P9/jHnzltkLbY="},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":""},"profile":{"type":"string","description":"Preferred Username","example":""},"preferredUsername":{"type":"string","description":"Preferred Username","example":""},"website":{"type":"string","description":"用户个人网页","example":""},"zoneinfo":{"type":"string","description":"用户时区信息","example":""},"locale":{"type":"string","description":"Locale","example":""},"formatted":{"type":"string","description":"标准的完整地址","example":""},"region":{"type":"string","description":"用户所在区域","example":""},"customData":{"type":"object","description":"自定义数据，传入的对象中的 key 必须先在用户池定义相关自定义字段","example":{"school":"北京大学","age":22}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/UpdateUserOptionsDto"}]}},"required":["userId"]},"UpdateUserInfoDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"phoneCountryCode":{"type":"string","description":"手机区号，中国大陆手机号可不填。Authing 短信服务暂不内置支持国际手机号，你需要在 Authing 控制台配置对应的国际短信服务。完整的手机区号列表可参阅 https://en.wikipedia.org/wiki/List_of_country_calling_codes。","example":"+86"},"name":{"type":"string","description":"用户真实名称，不具备唯一性","example":"张三"},"nickname":{"type":"string","description":"昵称","example":"张三"},"photo":{"type":"string","description":"头像链接","example":"https://files.authing.co/authing-console/default-user-avatar.png"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"},"status":{"type":"string","description":"账户当前状态","enum":["Suspended","Resigned","Activated","Archived","Deactivated"],"example":"Activated","default":"Activated"},"emailVerified":{"type":"boolean","description":"邮箱是否验证","example":true},"phoneVerified":{"type":"boolean","description":"手机号是否验证","example":true},"birthdate":{"format":"date-time","type":"string","description":"出生日期","example":"2022-06-03"},"country":{"type":"string","description":"所在国家","example":"CN"},"province":{"type":"string","description":"所在省份","example":"BJ"},"city":{"type":"string","description":"所在城市","example":"BJ"},"address":{"type":"string","description":"所处地址","example":"北京朝阳"},"streetAddress":{"type":"string","description":"所处街道地址","example":"北京朝阳区 xxx 街道"},"postalCode":{"type":"string","description":"邮政编码号","example":"438100"},"gender":{"type":"string","description":"性别","enum":["M","F","U"],"example":"M","default":"U"},"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"password":{"type":"string","description":"用户密码。我们使用 HTTPS 协议对密码进行安全传输，可以在一定程度上保证安全性。如果你还需要更高级别的安全性，我们还支持 RSA256 和国密 SM2 两种方式对密码进行加密。详情见 `passwordEncryptType` 参数。","example":"oqw5bhVmlDwF5qqeVA645bICyMVfFaV3sf3ZTrk5Npcm5dTOmBVo1anyZ5JLfHAz/P45r0QTPo8xS1YdKxIrshx4Ju+g04s9SQqW30ebdVdqcOntIJGAXU6arrkPvfcRFV3ZVTwBdgdRWHMkr5sTcnGNYdgL67P9/jHnzltkLbY="},"company":{"type":"string","description":"所在公司","example":"steamory"},"browser":{"type":"string","description":"最近一次登录时使用的浏览器 UA","example":"Mozilla/5.0 (Linux; Android 10; V2001A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/87.0.4280.141 Mobile Safari/537.36 VivoBrowser/10.2.10.0"},"device":{"type":"string","description":"最近一次登录时使用的设备","example":"iOS"},"givenName":{"type":"string","description":"名","example":"三"},"familyName":{"type":"string","description":"姓","example":"张"},"middleName":{"type":"string","description":"中间名","example":""},"profile":{"type":"string","description":"Preferred Username","example":""},"preferredUsername":{"type":"string","description":"Preferred Username","example":""},"website":{"type":"string","description":"用户个人网页","example":""},"zoneinfo":{"type":"string","description":"用户时区信息","example":""},"locale":{"type":"string","description":"Locale","example":""},"formatted":{"type":"string","description":"标准的完整地址","example":""},"region":{"type":"string","description":"用户所在区域","example":""},"customData":{"type":"object","description":"自定义数据，传入的对象中的 key 必须先在用户池定义相关自定义字段","example":{"school":"北京大学","age":22}}},"required":["userId"]},"UpdateUserBatchOptionsDto":{"type":"object","properties":{"resetPasswordOnNextLogin":{"type":"boolean","description":"下次登录要求重置密码","default":false},"passwordEncryptType":{"type":"string","description":"密码加密类型，支持使用 RSA256 和国密 SM2 算法进行加密。默认为 `none` 不加密。\n- `none`: 不对密码进行加密，使用明文进行传输。\n- `rsa`: 使用 RSA256 算法对密码进行加密，需要使用 Authing 服务的 RSA 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 RSA256 公钥。\n- `sm2`: 使用 [国密 SM2 算法](https://baike.baidu.com/item/SM2/15081831) 对密码进行加密，需要使用 Authing 服务的 SM2 公钥进行加密，请阅读**介绍**部分了解如何获取 Authing 服务的 SM2 公钥。\n  ","enum":["sm2","rsa","none"],"example":"none","default":"none"},"autoGeneratePassword":{"type":"boolean","description":"是否自动生成密码","default":false},"sendPasswordResetedNotification":{"description":"重置密码发送邮件和手机号选项","example":{"sendDefaultEmailNotification":false,"sendDefaultPhoneNotification":false,"inputSendEmailNotification":"test@example.com","inputSendPhoneNotification":"136xxxx1234","appId":"app1"},"allOf":[{"$ref":"#/components/schemas/SendResetPasswordNotificationDto"}]}}},"UpdateUserBatchReqDto":{"type":"object","properties":{"list":{"description":"用户列表","type":"array","items":{"$ref":"#/components/schemas/UpdateUserInfoDto"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/UpdateUserBatchOptionsDto"}]}},"required":["list"]},"DeleteUsersBatchOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}}},"DeleteUsersBatchDto":{"type":"object","properties":{"userIds":{"description":"用户 ID 列表","minItems":1,"maxItems":50,"example":["userId1","userId2"],"type":"array","items":{"type":"string"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/DeleteUsersBatchOptionsDto"}]}},"required":["userIds"]},"IsSuccessDto":{"type":"object","properties":{"success":{"type":"boolean","description":"操作是否成功","example":true}},"required":["success"]},"IsSuccessRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"操作是否成功","allOf":[{"$ref":"#/components/schemas/IsSuccessDto"}]}},"required":["statusCode","message","data"]},"IdentityListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/IdentityDto"}}},"required":["statusCode","message","data"]},"RoleDto":{"type":"object","properties":{"code":{"type":"string","description":"权限分组内角色的唯一标识符","example":"role1"},"description":{"type":"string","description":"角色描述","example":"this is description"},"namespace":{"type":"string","description":"所属权限分组的 code","example":"default"}},"required":["code","description","namespace"]},"RolePagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/RoleDto"}}},"required":["totalCount","list"]},"RolePaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/RolePagingDto"}]}},"required":["statusCode","message","data"]},"PrincipalAuthenticationInfoDto":{"type":"object","properties":{"authenticated":{"type":"boolean","description":"是否进行认证","example":true},"principalType":{"type":"string","description":"用户 ID","example":"认证主体类型，P 代表个人，E 代表企业"},"principalCode":{"type":"string","description":"认证主体证件号码","example":"6229c4deb3e4d8a20b6021ff"},"principalName":{"type":"string","description":"认证主体名称","example":"ss"},"authenticatedAt":{"type":"string","description":"认证时间，标准时间字符串","example":"2022-04-05T10:23:50.631Z"}},"required":["authenticated","principalType","principalCode","principalName","authenticatedAt"]},"PrincipalAuthenticationInfoPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/PrincipalAuthenticationInfoDto"}}},"required":["totalCount","list"]},"PrincipalAuthenticationInfoPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/PrincipalAuthenticationInfoPagingDto"}]}},"required":["statusCode","message","data"]},"ResetUserPrincipalAuthenticationInfoOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}}},"ResetUserPrincipalAuthenticationInfoDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/ResetUserPrincipalAuthenticationInfoOptionsDto"}]}},"required":["userId"]},"LangUnit":{"type":"object","properties":{"enabled":{"type":"boolean","description":"是否已开启。若开启，且控制台选择该语言，则展示该内容。（默认关闭）","example":false},"value":{"type":"string","description":"多语言内容","example":false}},"required":["enabled","value"]},"LangObject":{"type":"object","properties":{"zh-CN":{"description":"多语言的中文内容","example":{"enabled":false,"value":"中文"},"allOf":[{"$ref":"#/components/schemas/LangUnit"}]},"en-US":{"description":"多语言的英文内容","example":{"enabled":false,"value":"English"},"allOf":[{"$ref":"#/components/schemas/LangUnit"}]},"zh-TW":{"description":"多语言的繁体中文内容","example":{"enabled":false,"value":"繁體中文"},"allOf":[{"$ref":"#/components/schemas/LangUnit"}]},"ja-JP":{"description":"多语言的日语内容","example":{"enabled":false,"value":"日本語"},"allOf":[{"$ref":"#/components/schemas/LangUnit"}]}},"required":["zh-CN","en-US","zh-TW","ja-JP"]},"DepartmentI18nDto":{"type":"object","properties":{"name":{"description":"支持多语言的字段","example":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}},"allOf":[{"$ref":"#/components/schemas/LangObject"}]}},"required":["name"]},"UserDepartmentRespDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 Code（organizationCode）","example":"steamory"},"departmentId":{"type":"string","description":"部门 ID","example":"60b49eb83fd80adb96f26e68"},"createdAt":{"format":"date-time","type":"string","description":"部门创建时间","example":"2022-07-03T02:20:30.000Z"},"name":{"type":"string","description":"部门名称","example":"dd8d7stf44"},"description":{"type":"string","description":"部门描述","example":"dd8d7stf44"},"openDepartmentId":{"type":"string","description":"自定义部门 ID，用于存储自定义的 ID","example":"ou_7dab8a3d3cdccxxxxxx777c7ad535d62"},"isLeader":{"type":"boolean","description":"是否是部门 Leader","example":true},"code":{"type":"string","description":"部门识别码","example":"6229c4deb3e4d8a20b6021ff"},"isMainDepartment":{"type":"boolean","description":"是否是主部门","example":true},"joinedAt":{"format":"date-time","type":"string","description":"加入部门时间","example":"2022-07-03T02:20:30.000Z"},"isVirtualNode":{"type":"boolean","description":"是否是虚拟部门","example":false},"i18n":{"description":"多语言设置","example":{"name":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}}},"allOf":[{"$ref":"#/components/schemas/DepartmentI18nDto"}]},"customData":{"type":"object","description":"部门的扩展字段数据","example":{"icon":"https://example.com/logo"}}},"required":["organizationCode","departmentId","createdAt","name","description","isLeader","code","isMainDepartment","joinedAt","isVirtualNode"]},"UserDepartmentPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/UserDepartmentRespDto"}}},"required":["totalCount","list"]},"UserDepartmentPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/UserDepartmentPagingDto"}]}},"required":["statusCode","message","data"]},"SetUserDepartmentDto":{"type":"object","properties":{"departmentId":{"type":"string","description":"部门 id","example":"60b49eb83fd80adb96f26e68"},"isLeader":{"type":"boolean","description":"是否是部门 leader","example":true},"isMainDepartment":{"type":"boolean","description":"是否是主部门","example":true}},"required":["departmentId"]},"SetUserDepartmentsOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}}},"SetUserDepartmentsDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"departments":{"description":"部门信息","minItems":1,"maxItems":10,"example":[{"departmentId":"60b49eb83fd80adb96f26e68","isLeader":true,"isMainDepartment":true}],"type":"array","items":{"$ref":"#/components/schemas/SetUserDepartmentDto"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/SetUserDepartmentsOptionsDto"}]}},"required":["userId","departments"]},"ResGroupDto":{"type":"object","properties":{"code":{"type":"string","description":"分组 code","example":"developer"},"name":{"type":"string","description":"分组名称","example":"开发者"},"description":{"type":"string","description":"分组描述","example":"描述内容"}},"required":["code","name","description"]},"GroupPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/ResGroupDto"}}},"required":["totalCount","list"]},"GroupPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/GroupPagingDto"}]}},"required":["statusCode","message","data"]},"UserMfaRespDto":{"type":"object","properties":{"totpStatus":{"type":"string","description":"是否绑定了 TOTP，可选值 enabled, disabled","example":true},"faceMfaStatus":{"type":"string","description":"是否绑定了人脸 MFA，可选值 enabled, disabled","example":true}},"required":["totpStatus","faceMfaStatus"]},"UserMfaSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/UserMfaRespDto"}]}},"required":["statusCode","message","data"]},"ListArchivedUsersRespDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户 ID","example":"userId"},"archivedAt":{"format":"date-time","type":"string","description":"归档时间","example":"2022-07-03T02:20:30.000Z"}},"required":["userId","archivedAt"]},"ArchivedUsersListPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/ListArchivedUsersRespDto"}}},"required":["totalCount","list"]},"ListArchivedUsersSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"数据","allOf":[{"$ref":"#/components/schemas/ArchivedUsersListPagingDto"}]}},"required":["statusCode","message","data"]},"KickUsersOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}}},"KickUsersDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户 ID"},"appIds":{"description":"APP ID 列表","minItems":1,"maxItems":50,"example":["62188e71cxxxx3075289c580"],"type":"array","items":{"type":"string"}},"options":{"description":"可选参数","example":{"userIdType":"user_id"},"allOf":[{"$ref":"#/components/schemas/KickUsersOptionsDto"}]}},"required":["userId","appIds"]},"IsUserExistsReqDto":{"type":"object","properties":{"username":{"type":"string","description":"用户名，用户池内唯一","example":"bob"},"email":{"type":"string","description":"邮箱，不区分大小写","example":"test@example.com"},"phone":{"type":"string","description":"手机号，不带区号。如果是国外手机号，请在 phoneCountryCode 参数中指定区号。","example":"188xxxx8888"},"externalId":{"type":"string","description":"第三方外部 ID","example":"10010"}}},"IsUserExistsDto":{"type":"object","properties":{"exists":{"type":"boolean","description":"用户是否存在","example":true}},"required":["exists"]},"IsUserExistsRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/IsUserExistsDto"}]}},"required":["statusCode","message","data"]},"AppDto":{"type":"object","properties":{"appId":{"type":"string","description":"App ID","example":"app1"},"appName":{"type":"string","description":"App 名称","example":"App Name"},"appLogo":{"type":"string","description":"App Logo","example":"https://example.com/logo.png"},"appLoginUrl":{"type":"string","description":"App 登录地址","example":"https://example.com/login"},"appDefaultLoginStrategy":{"type":"string","description":"App 默认的登录策略","example":"ALLOW_ALL","enum":["ALLOW_ALL","DENY_ALL"]}},"required":["appId","appName","appLogo","appLoginUrl","appDefaultLoginStrategy"]},"AppListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/AppDto"}}},"required":["statusCode","message","data"]},"HasRoleRolesDto":{"type":"object","properties":{"namespace":{"type":"string","description":"所属权限分组的 code","example":"default"},"code":{"type":"string","description":"角色 code","example":"admin"}},"required":["code"]},"HasAnyRoleOptionsDto":{"type":"object","properties":{"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}}},"HasAnyRoleReqDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"roles":{"description":"角色列表","type":"array","items":{"$ref":"#/components/schemas/HasRoleRolesDto"}},"options":{"description":"可选参数","allOf":[{"$ref":"#/components/schemas/HasAnyRoleOptionsDto"}]}},"required":["userId","roles"]},"HasAnyRoleDto":{"type":"object","properties":{"hasAnyRole":{"type":"boolean","description":"是否拥有其中某一个角色","example":true}},"required":["hasAnyRole"]},"HasAnyRoleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/HasAnyRoleDto"}]}},"required":["statusCode","message","data"]},"UserLoginHistoryDto":{"type":"object","properties":{"appId":{"type":"string","description":"App ID","example":"app1"},"appName":{"type":"string","description":"App 名称","example":"App Name"},"appLogo":{"type":"string","description":"App Logo","example":"https://example.com/logo.png"},"appLoginUrl":{"type":"string","description":"App 登录地址","example":"https://example.com/login"},"clientIp":{"type":"string","description":"客户端 IP","example":"127.0.0.1"},"userAgent":{"type":"string","description":"登录时使用的 user agent","example":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36"},"time":{"format":"date-time","type":"string","description":"登录时间","example":""}},"required":["appId","appName","appLogo","appLoginUrl","clientIp","time"]},"UserLoginHistoryPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/UserLoginHistoryDto"}}},"required":["totalCount","list"]},"UserLoginHistoryPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/UserLoginHistoryPagingDto"}]}},"required":["statusCode","message","data"]},"UserLoggedInAppsDto":{"type":"object","properties":{"appId":{"type":"string","description":"App ID","example":"app1"},"appName":{"type":"string","description":"App 名称","example":"App Name"},"appLogo":{"type":"string","description":"App Logo","example":"https://example.com/logo.png"},"appLoginUrl":{"type":"string","description":"App 登录地址","example":"https://example.com/login"}},"required":["appId","appName","appLogo","appLoginUrl"]},"UserLoggedInAppsListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/UserLoggedInAppsDto"}}},"required":["statusCode","message","data"]},"UserLoggedInIdentitiesDto":{"type":"object","properties":{"identityId":{"type":"string","description":"Identity ID","example":"62299d8b866d2dab79a89dc4"},"idpName":{"type":"string","description":"身份源名称","example":"微信"},"idpNameEn":{"type":"string","description":"Identity provider name","example":"wechat"},"idpLogo":{"type":"string","description":"身份源 logo","example":"https://example.com/logo.png"}},"required":["identityId","idpName","idpNameEn","idpLogo"]},"UserLoggedInIdentitiesRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/UserLoggedInIdentitiesDto"}}},"required":["statusCode","message","data"]},"ResignUserReqDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}},"required":["userId"]},"ResignUserDataDto":{"type":"object","properties":{"success":{"type":"boolean","description":"操作是否成功","example":true}},"required":["success"]},"ResignUserRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/ResignUserDataDto"}]}},"required":["statusCode","message","data"]},"ResignUserBatchReqDto":{"type":"object","properties":{"userIds":{"description":"用户 ID 数组","minItems":1,"maxItems":50,"example":["6229ffaxxxxxxxxcade3e3d9"],"type":"array","items":{"type":"string"}},"userIdType":{"type":"string","description":"用户 ID 类型，默认值为 `user_id`，可选值为：\n- `user_id`: Authing 用户 ID，如 `6319a1504f3xxxxf214dd5b7`\n- `phone`: 用户手机号\n- `email`: 用户邮箱\n- `username`: 用户名\n- `external_id`: 用户在外部系统的 ID，对应 Authing 用户信息的 `externalId` 字段\n- `identity`: 用户的外部身份源信息，格式为 `<extIdpId>:<userIdInIdp>`，其中 `<extIdpId>` 为 Authing 身份源的 ID，`<userIdInIdp>` 为用户在外部身份源的 ID。\n示例值：`62f20932716fbcc10d966ee5:ou_8bae746eac07cd2564654140d2a9ac61`。\n","enum":["user_id","external_id","phone","email","username","identity"],"example":"user_id","default":"user_id"}},"required":["userIds"]},"PolicyCondition":{"type":"object","properties":{"param":{"type":"string","description":"Condition Param","example":"AppId","enum":["UserPoolId","AppId","RequestFrom","UserId","UserArn","CurrentTime","EpochTime","SourceIp","User","MultiFactorAuthPresent","MultiFactorAuthAge","UserAgent","Referer","Device","OS","Country","Province","City","DeviceChanged","DeviceUntrusted","ProxyUntrusted","LoggedInApps","Namespace"]},"operator":{"type":"string","description":"Condition Operator","example":"StringEquals","enum":["Bool","DateEquals","DateNotEquals","DateLessThan","DateLessThanEquals","DateGreaterThan","DateGreaterThanEquals","IpAddress","NotIpAddress","NumericEquals","NumericNotEquals","NumericLessThan","NumericLessThanEquals","NumericGreaterThan","NumericGreaterThanEquals","StringEquals","StringNotEquals","StringEqualsIgnoreCase","StringNotEqualsIgnoreCase","StringLike","StringNotLike","ListContains"]},"value":{"type":"string","description":"Condition Value","example":"1"}},"required":["param","operator","value"]},"AuthorizedResourceDto":{"type":"object","properties":{"resourceCode":{"type":"string","description":"资源描述符","example":"ecs:1"},"description":{"type":"string","description":"资源描述信息","example":"服务器"},"condition":{"description":"策略 Condition","type":"array","items":{"$ref":"#/components/schemas/PolicyCondition"}},"resourceType":{"type":"string","description":"资源类型","example":"API","default":null,"enum":["DATA","API","MENU","BUTTON","UI"]},"apiIdentifier":{"type":"string","description":"API URL","example":"/api/v1/example","default":null},"actions":{"description":"授权的操作列表","example":["ecs:Start","ecs:Stop"],"type":"array","items":{"type":"string"}},"effect":{"type":"string","description":"允许还是拒绝","example":"ALLOW","default":"ALLOW","enum":["ALLOW","DENY"]}},"required":["resourceCode","resourceType","apiIdentifier","actions","effect"]},"AuthorizedResourcePagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/AuthorizedResourceDto"}}},"required":["totalCount","list"]},"AuthorizedResourcePaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/AuthorizedResourcePagingDto"}]}},"required":["statusCode","message","data"]},"CheckSessionStatusDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户唯一标志，可以是用户 ID、用户名、邮箱、手机号、外部 ID、在外部身份源的 ID。","example":"6229ffaxxxxxxxxcade3e3d9"},"appId":{"type":"string","description":"App ID","example":"app1"}},"required":["userId","appId"]},"CheckSessionStatusDataDto":{"type":"object","properties":{"active":{"type":"boolean","description":"是否具有登录态","example":true}},"required":["active"]},"CheckSessionStatusRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/CheckSessionStatusDataDto"}]}},"required":["statusCode","message","data"]},"ImportOtpItemDataDto":{"type":"object","properties":{"secret":{"type":"string","description":"OTP 密钥","example":"HZ2F6J3AGNAVSOTV"},"recoveryCode":{"type":"string","description":"OTP Recovery Code","example":"b471-8ec0-874a-087f-bccb-cd54"}},"required":["secret"]},"ImportOtpItemDto":{"type":"object","properties":{"userId":{"type":"string","description":"用户 ID","example":"xxxx"},"otp":{"description":"OTP 数据","allOf":[{"$ref":"#/components/schemas/ImportOtpItemDataDto"}]}},"required":["userId","otp"]},"ImportOtpReqDto":{"type":"object","properties":{"list":{"description":"参数列表","type":"array","items":{"$ref":"#/components/schemas/ImportOtpItemDto"}}},"required":["list"]},"CommonResponseDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"}},"required":["statusCode","message"]},"OrganizationNameI18nDto":{"type":"object","properties":{"organizationName":{"description":"支持多语言的字段","example":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}},"allOf":[{"$ref":"#/components/schemas/LangObject"}]}},"required":["organizationName"]},"OrganizationDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 code","example":"steamory"},"organizationName":{"type":"string","description":"组织名称","example":"蒸汽记忆"},"description":{"type":"string","description":"组织描述信息","example":"组织描述信息"},"createdAt":{"type":"string","description":"创建时间","example":"2022-07-03T02:20:30.000Z"},"updatedAt":{"type":"string","description":"修改时间","example":"2022-07-03T02:20:30.000Z"},"departmentId":{"type":"string","description":"根节点 ID","example":"60b49eb83fd80adb96f26e68"},"openDepartmentId":{"type":"string","description":"根节点自定义 ID","example":"60b49eb83fd80adb96f26e68"},"hasChildren":{"type":"boolean","description":"是否包含子节点","example":true},"leaderUserIds":{"description":"部门负责人 ID","example":["60b49eb83fd80adb96f26e68"],"type":"array","items":{"type":"string"}},"membersCount":{"type":"number","description":"部门人数","example":150},"isVirtualNode":{"type":"boolean","description":"是否是虚拟部门","example":false},"i18n":{"description":"多语言设置","example":{"organizationName":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}}},"allOf":[{"$ref":"#/components/schemas/OrganizationNameI18nDto"}]},"customData":{"type":"object","description":"部门的扩展字段数据","example":{"icon":"https://example.com/logo"}}},"required":["organizationCode","organizationName","departmentId","hasChildren","membersCount","isVirtualNode"]},"OrganizationSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/OrganizationDto"}]}},"required":["statusCode","message","data"]},"OrganizationListRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/OrganizationDto"}}},"required":["statusCode","message","data"]},"OrganizationPagingDto":{"type":"object","properties":{"totalCount":{"type":"number","description":"记录总数"},"list":{"description":"响应数据","type":"array","items":{"$ref":"#/components/schemas/OrganizationDto"}}},"required":["totalCount","list"]},"OrganizationPaginatedRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/OrganizationPagingDto"}]}},"required":["statusCode","message","data"]},"CreateOrganizationReqDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 code","example":"steamory"},"organizationName":{"type":"string","description":"组织名称","example":"蒸汽记忆"},"description":{"type":"string","description":"组织描述信息","example":"组织描述信息"},"openDepartmentId":{"type":"string","description":"根节点自定义 ID","example":"60b49eb83fd80adb96f26e68"},"i18n":{"description":"多语言设置","example":{"organizationName":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}}},"allOf":[{"$ref":"#/components/schemas/OrganizationNameI18nDto"}]}},"required":["organizationCode","organizationName"]},"UpdateOrganizationReqDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 code","example":"steamory"},"description":{"type":"string","description":"部门描述","example":"技术研发部门"},"openDepartmentId":{"type":"string","description":"根节点自定义 ID","example":"60b49eb83fd80adb96f26e68"},"leaderUserIds":{"description":"部门负责人 ID","example":["60b49eb83fd80adb96f26e68"],"type":"array","items":{"type":"string"}},"i18n":{"description":"多语言设置","example":{"organizationName":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}}},"allOf":[{"$ref":"#/components/schemas/OrganizationNameI18nDto"}]},"organizationNewCode":{"type":"string","description":"新组织 code","example":"steamory2"},"organizationName":{"type":"string","description":"组织名称","example":"蒸汽记忆"}},"required":["organizationCode"]},"DeleteOrganizationReqDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 code","example":"steamory"}},"required":["organizationCode"]},"DepartmentDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 Code（organizationCode）","example":"steamory"},"departmentId":{"type":"string","description":"部门系统 ID（为 Authing 系统自动生成，不可修改）","example":"60b49eb83fd80adb96f26e68"},"createdAt":{"format":"date-time","type":"string","description":"部门创建时间","example":"2022-07-03T02:20:30.000Z"},"updatedAt":{"type":"string","description":"修改时间","example":"2022-07-03T02:20:30.000Z"},"openDepartmentId":{"type":"string","description":"自定义部门 ID，用于存储自定义的 ID","example":"ou_7dab8a3d3cdccxxxxxx777c7ad535d62"},"name":{"type":"string","description":"部门名称","example":"开发部"},"leaderUserIds":{"description":"部门负责人 ID","example":["60b49eb83fd80adb96f26e68"],"type":"array","items":{"type":"string"}},"description":{"type":"string","description":"部门描述","example":"技术研发部门"},"parentDepartmentId":{"type":"string","description":"父部门 id","example":"6229c4deb3e4d8a20b6021ff"},"code":{"type":"string","description":"部门识别码","example":"6229c4deb3e4d8a20b6021ff"},"membersCount":{"type":"number","description":"部门人数（仅包含直属成员）","example":11},"hasChildren":{"type":"boolean","description":"是否包含子部门","example":true},"isVirtualNode":{"type":"boolean","description":"是否是虚拟部门","example":false},"i18n":{"description":"多语言设置","example":{"name":{"zh-CN":{"enabled":false,"value":"中文"},"en-US":{"enabled":false,"value":"English"}}},"allOf":[{"$ref":"#/components/schemas/DepartmentI18nDto"}]},"customData":{"type":"object","description":"部门的扩展字段数据","example":{"icon":"https://example.com/logo"}}},"required":["organizationCode","departmentId","createdAt","name","parentDepartmentId","membersCount","hasChildren"]},"DepartmentSingleRespDto":{"type":"object","properties":{"statusCode":{"type":"number","description":"业务状态码，可以通过此状态码判断操作是否成功，200 表示成功。","example":200},"message":{"type":"string","description":"描述信息","example":"操作成功"},"apiCode":{"type":"number","description":"细分错误码，可通过此错误码得到具体的错误类型。"},"requestId":{"type":"string","description":"请求 ID。当请求失败时会返回。","example":"934108e5-9fbf-4d24-8da1-c330328abd6c"},"data":{"description":"响应数据","allOf":[{"$ref":"#/components/schemas/DepartmentDto"}]}},"required":["statusCode","message","data"]},"CreateDepartmentReqDto":{"type":"object","properties":{"organizationCode":{"type":"string","description":"组织 Code（organizationCode）","example":"steamory"},"openDepartmentId":{"type":"string","description":"自定义部门 ID，用于存储自定义的 ID","example":"ou_7dab8a3d3cdccxxxxxx777c7ad535d62"},"name":{"type":"string","descri
[...]
